---
import MemberLayout from "../../../layouts/MemberLayout.astro";
import CourseVideo from "../../../components/CourseVideo.astro";

const courseVideos = [
  {
    videoLarge: "/videos/00-einleitung-1080.mp4",
    videoMedium: "/videos/00-einleitung-720.mp4",
    videoSmall: "/videos/00-einleitung-576.mp4",
    videoId: "einleitung",
    text: "",
    heading: "Einführung",
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-profi.webp",
  },
  {
    videoLarge: "/videos/01-0-professionelles-trading-beginnt-1080.mp4",
    videoMedium: "/videos/01-0-professionelles-trading-beginnt-720.mp4",
    videoSmall: "/videos/01-0-professionelles-trading-beginnt-576.mp4",
    videoId: "prof",
    heading: "Einführung Professionelles Trading",
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-karriere.webp",
  },
  {
    videoLarge: "/videos/01-1-marktauswahl-und-trading-software-1080.mp4",
    videoMedium: "/videos/01-1-marktauswahl-und-trading-software-720.mp4",
    videoSmall: "/videos/01-1-marktauswahl-und-trading-software-576.mp4",
    videoId: "marktauswahl",
    heading: "Einführung Marktauswahl",
    text: "Mit diesem <a href='https://sierrachart.com/RegisterStep1.php?UserAffiliateID=7c28b913cb77a9314fa49e50231240f2' target='_blank' class='link'>Link</a> kannst du einen 15-tägigen kostenfreien Sierra Chart Testaccount eröffnen.",
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-markttheorie.webp",
  },
  {
    videoLarge: "/videos/02-0-rohdaten-time-and-sales-and-dom-1080.mp4",
    videoMedium: "/videos/02-0-rohdaten-time-and-sales-and-dom-720.mp4",
    videoSmall: "/videos/02-0-rohdaten-time-and-sales-and-dom-576.mp4",
    videoId: "rohdaten",
    heading: "Markttheorie und Rohdaten",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-marktauswahl.webp",
  },
  {
    videoLarge: "/videos/02-1-markttheorie-beispiel-1080.mp4",
    videoMedium: "/videos/02-1-markttheorie-beispiel-720.mp4",
    videoSmall: "/videos/02-1-markttheorie-beispiel-576.mp4",
    videoId: "markttheorie",
    heading: "Markttheorie Beispiel",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-rohdaten-bsp.webp",
  },
  {
    videoLarge: "/videos/03-0-sierra-chart-setup-1080.mp4",
    videoMedium: "/videos/03-0-sierra-chart-setup-720.mp4",
    videoSmall: "/videos/03-0-sierra-chart-setup-576.mp4",
    videoId: "sierra",
    heading: "Sierra Chart Setup",
    text: "Mit diesem <a href='https://sierrachart.com/RegisterStep1.php?UserAffiliateID=7c28b913cb77a9314fa49e50231240f2' target='_blank' class='link'>Link</a> kannst du einen 15-tägigen kostenfreien Sierra Chart Testaccount eröffnen. Futures Kontrakte findest du unter <a href='https://www.barchart.com/futures' target='_blank' class='link'>barchart.com</a>",
    download: {
      link: "https://www.inloopo.com/?msopen=/content/inloopo_es_v2023-06-25-cht",
      text: "Download Chartbook",
    },
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-sierra-chart.webp",
  },
  {
    videoLarge: "/videos/03-1-dom-trading-1080.mp4",
    videoMedium: "/videos/03-1-dom-trading-720.mp4",
    videoSmall: "/videos/03-1-dom-trading-576.mp4",
    videoId: "dom",
    heading: "DOM Trading",
    text: "",
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-dom-trading.webp",
  },
  {
    videoLarge: "/videos/03-2-orderaufgabe-erklaert-1080.mp4",
    videoMedium: "/videos/03-2-orderaufgabe-erklaert-720.mp4",
    videoSmall: "/videos/03-2-orderaufgabe-erklaert-576.mp4",
    videoId: "order",
    heading: "Orderaufgabe",
    text: "",
    backgroundColorClass: "heading-container--accent",
    poster: "/images/daytrading-kurs-orderaufgabe.webp",
  },
  {
    videoLarge: "/videos/04-0-vorteil-im-markt-1080.mp4",
    videoMedium: "/videos/04-0-vorteil-im-markt-720.mp4",
    videoSmall: "/videos/04-0-vorteil-im-markt-576.mp4",
    videoId: "plan",
    heading: "Professioneller Trading Plan",
    text: "Lade dir den professionellen Trading Plan als PDF herunter",
    download: {
      link: "https://www.inloopo.com/?msopen=/content/professioneller-trading-plan-pdf",
      text: "Download Trading Plan",
    },
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-trading-plan.webp",
  },
  {
    videoLarge: "/videos/04-1-market-profile-einstellungen-1080.mp4",
    videoMedium: "/videos/04-1-market-profile-einstellungen-720.mp4",
    videoSmall: "/videos/04-1-market-profile-einstellungen-576.mp4",
    videoId: "profil",
    heading: "Market Profile Einstellungen",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-market-profile.webp",
  },
  {
    videoLarge: "/videos/04-2-market-profile-value-area-1080.mp4",
    videoMedium: "/videos/04-2-market-profile-value-area-720.mp4",
    videoSmall: "/videos/04-2-market-profile-value-area-576.mp4",
    videoId: "value",
    heading: "Market Profile Value Area",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-value-area.webp",
  },
  {
    videoLarge: "/videos/04-3-market-profile-beispiele-und-aufgabe-1080.mp4",
    videoMedium: "/videos/04-3-market-profile-beispiele-und-aufgabe-720.mp4",
    videoSmall: "/videos/04-3-market-profile-beispiele-und-aufgabe-576.mp4",
    videoId: "profilbsp",
    heading: "Market Profile Beispiele",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-market-profile-bsp.webp",
  },
  {
    videoLarge: "/videos/05-1-market-profile-vs-volumenprofil-1080.mp4",
    videoMedium: "/videos/05-1-market-profile-vs-volumenprofil-720.mp4",
    videoSmall: "/videos/05-1-market-profile-vs-volumenprofil-576.mp4",
    videoId: "volumenprofil",
    heading: "Volumenprofil vs Market Profile",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-volumenprofil-vs-market-profile.webp",
  },
  {
    videoLarge: "/videos/05-2-profilformen-market-profile-1080.mp4",
    videoMedium: "/videos/05-2-profilformen-market-profile-720.mp4",
    videoSmall: "/videos/05-2-profilformen-market-profile-576.mp4",
    videoId: "profilformen",
    heading: "Profilformen",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-profilformen.webp",
  },
  {
    videoLarge: "/videos/05-3-statische-value-1080.mp4",
    videoMedium: "/videos/05-3-statische-value-720.mp4",
    videoSmall: "/videos/05-3-statische-value-576.mp4",
    videoId: "statvalue",
    heading: "Statische Value",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-stat-value.webp",
  },
  {
    videoLarge: "/videos/05-4-volume-point-of-control-1080.mp4",
    videoMedium: "/videos/05-4-volume-point-of-control-720.mp4",
    videoSmall: "/videos/05-4-volume-point-of-control-576.mp4",
    videoId: "pointcontrol",
    heading: "Volume Point of Control",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-point-of-control.webp",
  },
  {
    videoLarge: "/videos/05-5-high-and-low-volumen-bereiche-1080.mp4",
    videoMedium: "/videos/05-5-high-and-low-volumen-bereiche-720.mp4",
    videoSmall: "/videos/05-5-high-and-low-volumen-bereiche-576.mp4",
    videoId: "highlow",
    heading: "High und Low",
    text: "",
    backgroundColorClass: "heading-container--dark",
    poster: "/images/daytrading-kurs-high-and-low.webp",
  },
];
---

<MemberLayout title="Day Trading Kurs" description="#" lang="de">
  <div class="course__grid">
    <div>
      <aside>
        <div id="toc" class="toc-course">
          <a class="toc-course__accordion"><h6 class="toc-course__heading">Inhaltsverzeichnis</h6></a>
          <div class="toc-course__accordion-content">
            <ol class="toc-course__nav">
              <li>
                <a rel="nofollow" href="#einleitung" class="toc-course__link"><strong>1. Einführung</strong></a>
              </li>
              <li><a rel="nofollow" href="#prof" class="toc-course__link">1.1 Professionelles Trading</a></li>
              <li><a rel="nofollow" href="#marktauswahl" class="toc-course__link">1.2 Marktauswahl</a></li>
              <li><a rel="nofollow" href="#markttheorie" class="toc-course__link"><strong>2. Markttheorie und Rohdaten</strong></a></li>
              <li><a rel="nofollow" href="#rohdaten" class="toc-course__link">2.1. Rohdaten</a></li>
              <li><a rel="nofollow" href="#sierra" class="toc-course__link"><strong>3. Sierra Chart</strong></a></li>
              <li><a rel="nofollow" href="#dom" class="toc-course__link">3.1 DOM Trading</a></li>
              <li><a rel="nofollow" href="#order" class="toc-course__link">3.2 Orderaufgabe</a></li>
              <li><a rel="nofollow" href="#plan" class="toc-course__link"><strong>4. Professioneller Trading Plan</strong></a></li>
              <li><a rel="nofollow" href="#profil" class="toc-course__link">4.1 Market Profile Einstellungen</a></li>
              <li><a rel="nofollow" href="#value" class="toc-course__link">4.2 Market Profile Value Area</a></li>
              <li><a rel="nofollow" href="#profilbsp" class="toc-course__link">4.3 Market Profile Beispiele</a></li>
              <li><a rel="nofollow" href="#volumenprofil" class="toc-course__link"><strong>5. Volumenprofil</strong></a></li>
              <li><a rel="nofollow" href="#profilformen" class="toc-course__link">5.1 Profilformen</a></li>
              <li><a rel="nofollow" href="#statvalue" class="toc-course__link">5.2 Statistische Value</a></li>
              <li><a rel="nofollow" href="#pointcontrol" class="toc-course__link">5.3 Point of Control</a></li>
              <li><a rel="nofollow" href="#highlow" class="toc-course__link">5.3 High und Low</a></li>
            </ol>
            <p style="margin-top: 24px; font-size: small">✔ = Video bereits angesehen</p><button
              id="reset-video-tracker-progress"
              class="button seen-button">Fortschritt zurücksetzen</button
            >
          </div>
        </div>
      </aside>
    </div>
    <div>
      {
        courseVideos.map((data) => (
          <>
            <CourseVideo key={data.videoId} {...data}>
              <button class="button seen-button" slot="videoTracker" data-video-id={data.videoId}>
                Als gesehen markieren
              </button>
            </CourseVideo>
          </>
        ))
      }
    </div>
  </div>
  <script>
    import { memberSpaceReady, updateVideoTracker } from "../../../lib/memberspace.ts";
    const courseId = "daytrading-kurs";
    const courseVideos = document.querySelectorAll("video[id]");

    const handleUpdateVideoTracker =
      ({
        tagName,
        getVideoId,
      }: {
        tagName: string;
        getVideoId: (el: HTMLElement) => string | null | void;
      }): EventListener =>
      async (e) => {
        if (e.target instanceof HTMLElement && e.target.tagName.toUpperCase() === tagName.toUpperCase()) {
          const videoId = getVideoId(e.target);
          if (videoId) {
            await updateVideoTracker(window.MemberSpace, { courseId, videoId }, { hasBeenViewed: true });
            await updateDisplaySeenVideos(window.MemberSpace);
          } else console.log("no videoId");
        }
      };

    async function updateDisplaySeenVideos(MemberSpace: Window["MemberSpace"]) {
      const memberMeta = await MemberSpace.getMemberMetadata();
      const videoTracker = memberMeta.videoTracker?.[courseId];

      if (videoTracker) {
        for (const seenVideoId in videoTracker) {
          const button = document.querySelector(`button[data-video-id=${seenVideoId}`) as HTMLElement | null;
          if (button) {
            button.removeAttribute("data-video-id");
            button.setAttribute("data-seen", "true");
            button.innerHTML = "&#10004; Video angesehen"; // "&#x2705; Video gesehen";
          }

          // Links in Navbar
          const link = document.querySelector(`a[href="#${seenVideoId}"]`) as HTMLElement | null;
          if (link) {
            link.setAttribute("data-seen", "true");
          }
        }
      }
    }

    document.body.addEventListener("finished-loading-memberspace", async (e) => {
      await memberSpaceReady(); // rejects if window.MemberSpace won't be found
      const member = await window.MemberSpace.getMemberInfo();

      if (member.isLoggedIn === true) {
        await updateDisplaySeenVideos(window.MemberSpace);

        for (const video of courseVideos) {
          video.addEventListener(
            "ended",
            handleUpdateVideoTracker({ tagName: "VIDEO", getVideoId: (el) => el.getAttribute("id") }),
          );
        }

        document.body.addEventListener(
          "click",
          handleUpdateVideoTracker({ tagName: "BUTTON", getVideoId: (el) => el.dataset.videoId }),
        );

        const resetProgressButton = document.getElementById("reset-video-tracker-progress");
        resetProgressButton?.addEventListener("click", async () => {
          await window.MemberSpace.clearMemberMetadata();
          location.reload();
        });
      } else {
        console.log("Member currently not logged in.");
      }
    });
  </script>
</MemberLayout>

<style>
  .video__container {
    position: relative;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .course__grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .toc-course {
    top: 0;
    max-width: 100%;
    margin: 0 1em;
    animation: fadeEffect 3s;
    /* fading effect takes 3s */
  }

  .toc-course__nav {
    list-style: none;
  }

  .toc-course__accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: var(--black-color);
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }

  .toc-course__accordion:hover,
  .toc-course__accordion:hover::after {
    cursor: pointer;
    color: var(--first-color);
  }

  .toc-course__accordion.active {
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
  }

  
  .toc-course__accordion::after {
    content: "+";
    position: absolute;
    top: 8%;
    float: right;
    right: 10px;
    font-family: var(--ff-heading);
    font-size: 2rem;
    color: var(--black-color);
    text-align: center;
  }


  .toc-course__accordion.active::after {
    content: "-";
    color: var(--first-color);
  }

  .toc-course__accordion-content {
    opacity: 0;
    padding: 0 1rem;
    height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    transition: all 0.2s ease 0.15s;
  }

  .toc-course__accordion-content.active {
    opacity: 1;
    padding: 1rem;
    height: fit-content;
    transition: all 0.35s ease 0.15s;
  }

  @keyframes fadeEffect {
     from 0 to full opacity 
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .toc-course__link {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 6px 0;
    color: #171614;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .toc-course__link:hover,
  .toc-course__link:focus {
    color: #ff6b35;
  }

  .toc-course__link.active {
    /* transform: translateX(8px); */
    padding: 2px 0 2px 8px;
    margin-left: 8px;
    color: #ff6b35;
    border-left: 3px solid #ff6b35;
  }

  .toc-course__link[data-seen]::after {
    content: " ✔";
  }

  .button.seen-button {
    margin: 0 12px;
    margin-left: auto;
    padding: 0 12px;
    font-weight: normal;
    font-size: small;
    cursor: pointer;
    height: 45px;
  }

  .button.seen-button[data-seen] {
    cursor: initial;
  }

  @media only screen and (min-width: 60em) {
    .toc-course {
      padding-top: 120px;
      position: fixed;
      overflow-y: scroll;
      height: 100%;
    }

    .toc-course__accordion {
      width: 96%;
    }

    .course__grid {
      grid-template-columns: 1fr 3fr;
    }
  }
</style>


<script>
  // Code for FAQ
  const items = document.querySelectorAll(".toc-course__accordion");

  function toggleAccordion() {
    // @ts-ignore
    this.classList.toggle("active");
    // @ts-ignore
    this.nextElementSibling.classList.toggle("active");
  }

  items.forEach((item) => item.addEventListener("click", toggleAccordion));
</script>
