---
import MemberLayout from "../../../layouts/MemberLayout.astro";
---

<MemberLayout title="Daytrading Kurs" description="" lang="de">
  <h2 class="product-details__heading">Der Daytrading Kurs ist noch nicht fertig.</h2>
</MemberLayout>
