---
import MemberLayout from "../../../layouts/MemberLayout.astro";
import CourseCard from "../../../components/ModuleCard.astro";
import HeroShot from "../../../components/HeroShot.astro";
import Banner from "../../../components/Banner.astro";
---

<MemberLayout title="Mitgliederbereich Inloopo" description="" lang="de">
  <HeroShot
    title="Willkommen im inloopo Mitgliederbereich."
    description="Hier siehst du eine Übersicht über die verfügbaren Kurse und Produkte für deine Weiterbildung."
    backgroundImageClass="background--dark"
    withIcon={false}
  />

  <section class="wrapper-content">
    <h2 class="column__heading">Kurse im Überblick</h2>
    <div class="grid grid-3fr  grid-margin-bottom">
      <a href="/de/mitglieder/boersenampel-kurs/" class="course-card__link">
        <CourseCard
          title="Börsenampelkurs"
          icon={{
            src: "/images/traffic-light.svg",
            alt: "Börsenampel",
            width: "35",
          }}
          listItems={[
            "Werde dein eigener Börsenexperte!",
            "TradingView Indikatoren inklusive",
            "3 Module",
            "16 Videos",
            "2,5 Stunden",
            "1:1 Abschussgespräch",
          ]}
        />
      </a>

      <a href="/de/mitglieder/daytrading-kurs/" class="course-card__link">
        <CourseCard
          title="Daytrading Kurs"
          icon={{
            src: "/images/bull-and-bear.svg",
            alt: "Stier und Bär",
            width: "120",
          }}
          listItems={[
            "Start am 20. November 2023",
            "Alles was du für deinen Daytrading Erfolg brauchst!",
            "Sierra Chart Indikatoren Inklusive",
            "14 Module",
            "Über 30 Videos (geplant)",
            "3 Monate Live Trading inklusive (2 Sessions je 1-2 Stunden / Woche)",
          ]}
        />
      </a>

      <a href="/de/mitglieder/etf-signaldienst/" class="course-card__link">
        <CourseCard
          title="ETF Signaldienst"
          icon={{
            src: "/images/alarm.svg",
            alt: "Alarm",
            width: "60",
          }}
          listItems={[
            "Jeden Sonntag kurze Telegram Nachricht",
            "Jederzeit Fragen und Antworten im Telegram Chat",
            "Durchschnittlich 2 Signale pro Jahr",
          ]}
        />
      </a>
    </div>
  </section>
  <Banner
    heading="1:1 Coaching Session"
    description="Werde ein besserer Investor oder Trader. In meinem 1-zu-1-Coaching helfe ich dir, dein gewünschtes Ziel im Trading oder Investieren zu erreichen."
    listItems={[
      "100 % auf dich zugeschnitten",
      "Individuell und transparent",
      "Fokussiert auf Lösungen für deinen Erfolg",
      "Fokussiert auf deine Stärken",
    ]}
    href="https://calendly.com/philipp-kozalla-call/30min"
    linkText="Buche einen Zoom Call"
  />
</MemberLayout>
