---
import MemberLayout from "../../../layouts/MemberLayout.astro";


---

<MemberLayout title="Day Trading Kurs" description="#" lang="de">
 
    <div class="wrapper-content">
      <h2>Live Trading Webinare</h2>
    <div class="grid grid-4fr">
        <div class="video-webinar">
        
          <iframe src="https://youtu.be/mPHnp5-5jN0">
          </iframe>
   
          <div class="trading-details__container">
          <h5>Themen</h5> 
          <p> Review meiner Trades des Vortages = Halte dich an den Trading Plan! </p>
          <p>Live Trading ES +125$</p>
        </div>
        </div>
        <div class="video-webinar">   
          <iframe src="https://youtu.be/dOmIO_cFRsM">
          </iframe>
          <div class="trading-details__container">
            <h5>Themen</h5> 
            <p>Live Trading CL -480$</p>
          </div>
        </div>
        <div class="video-webinar">   <iframe src=" https://youtu.be/PJ6YeoxwtSA">
          </iframe>
          <div class="trading-details__container">
            <h5>Themen</h5> 
            <p>Live Trading CL +30$</p>
            <p>Live Trading ES +287,50$</p>
          </div>
        </div>
        <div class="video-webinar">4</div>
    </div>
</div>
 
</MemberLayout>


<style>
  .trading-details__container {
    padding: 1em 2em;
  }
</style>