---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import "../styles/styles.css";
---

<MainLayout
  title="E-Book for the inloopo Strategy"
  description="The e-book will be ready soon. It explains the inloopo Strategy, which forms the base of the inloopo market indicator and signal service."
  lang="en"
  canonical="https://www.inloopo.com/coming-soon/">
  <div class="wrapper">
    <!-- MAIN TEASER -->
    <HeroShot
      title="The E-Book for the inloopo strategy is coming soon"
      description="You will learn more about the inloopo strategy."
      backgroundImageClass="main-teaser__homepage"
    />

    <div class="wrapper-content-blog">
      <section>
        <h2 class="blog__heading">In the meantime</h2>
        <p class="blog__text">
          You can follow my market indicator. I have a Telegram Channel where I share my market indicator and market
          assessment.
        </p>
        <p><a class="button" target="_blank" href="https://t.me/SP500_market_indicator">Join for free</a></p>
      </section>
    </div>
  </div>
</MainLayout>
