---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="contact"
  description="You want me to help you. You have questions or a feedback. Send me an e-mail info@inloopo.com. I will get back to you."
  lang="en"
  canonical="https://www.inloopo.com/contact/">
  <div class="wrapper">
    <!-- TEASER -->
    <div class="wrapper-content">
      <section>
        <div class="row">
          <div class="column half">
            <h1 class="box__main-heading">What's the matter?</h1>
            <p class="p--bigger">
              You have questions or want to give me feedback. Write me an email. I look forward to hearing from you.
            </p>
            <img class="main-teaser__icon" src="/images/long-arrow-down.svg" width="40" alt="Pfeil Icon" />
            <a href="mailto:info@inloopo.com" class="main-teaser__link link">info@inloopo.com</a>
            <Button 
            link="https://calendly.com/philipp-kozalla-call/30min"
            target="_target"
            text="Book a Zoom Call"/>
          </div>
          <div class="column half">
            <div class="main-teaser__container">
              <img
                class="main-teaser__image"
                src="/images/image-teaser-contact.jpg"
                width="500"
                alt="Philipp Kozalla"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>
