---
//import layout and components
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import LeiChart from "../components/LeiChart.astro";
import Button from "../components/Button.astro";
import ShareButton from "../components/ShareButton.astro";

//import
import "../styles/styles.css";
---

<MainLayout
  title="Economic cycle as a tool"
  description="Your risk was too again high. Find out which phase of the business cycle we are in and adjust your risk accordingly."
  opengraph={{
    description: "Understand the business cycle",
    locale: "en",
    type: "website",
    url: "https://www.inloopo.com/economic-cycle/",
    image: "https://www.inloopo.com/images/konjunkturzyklus-og.jpg",
  }}
  lang="en"
  canonical="https://www.inloopo.com/economic-cycle/">
  <!-- TEASER -->
  <HeroShot
    title="Economic Cycle"
    description="The economic cycle is a central element of the global economy. Here you can find the current business cycle phase in 2023."
    backgroundImageClass="main-teaser__page-konjunkturzyklus"
    button={{
      text: "Learn more",
      href: "https://www.inloopo.com/de/finanzwissen/konjunkturzyklus-phasen/",
      target: "_blank",
    }}
  />
 
  <h2 class="align-center">inloopo business cycle tool with the US Leading Economic Index (YoY)</h2>
  <ShareButton 
    facebookLink="https://www.facebook.com/sharer/sharer.php?u=https://www.inloopo.com/economic-cycle/"
    linkedinLink="https://www.linkedin.com/shareArticle?mini=true&url=https://www.inloopo.com/economic-cycle/"
    twitterLink="https://twitter.com/share?url=https://www.inloopo.com/economic-cycle/"
  />
  <LeiChart />
  <div class="wrapper-content-blog">
    <h2>What is the inloopo economic cycle tool?</h2>
    <p>With the inloopo business cycle tool you can determine the current economic cycle phase. This knowledge helps you to manage the risk of your investments.</p>
      <p>You can also apply an ETF strategy with sector ETFs based on the economic phases. In each economic phase, there are 1 to 3 equity sectors that should outperform the overall market.</p>
      <p>Learn more about profitable sectors with my tool.</p>
  <Button 
  link="https://www.inloopo.com/de/sektorrotation/"
  text="Use the tool"
  />
</div>
</MainLayout>
