---
//import layout and components
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";


//import
import "../styles/styles.css";
---

<MainLayout
  title="Econimic Calendar"
  description="..."
  opengraph={{
    description: "Use the economic calendar with my settings",
    locale: "en",
    type: "website",
    url: "https://www.inloopo.com/economic-calendar/",
    image: "https://www.inloopo.com/images/sektorrotation-og.jpg",
  }}
  lang="de"
  canonical="https://www.inloopo.com/economic-calendar/">
  <!-- TEASER -->
  <HeroShot
    title="Economic Calendar"
    description="..."
    backgroundImageClass="main-teaser__page-sektorrotation"
  />

  <section>
    <div class="wrapper-content">
  <h2>Economic calendar with my settings</h2>  
 
  <iframe src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&importance=3&features=datepicker,timezone,timeselector,filters&countries=72,5&calType=week&timeZone=68&lang=1" width="100%" height="600" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>

  <div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">
    <span style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span>
</div>
</div>
  </section>


</MainLayout>
