---
//import component and layout
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Software from "../components/Software.astro";
import QualiCard from "../components/QualiCard.astro";
import BenefitCard from "../components/BenefitCard.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import ProductCard from "../components/ProductCard.astro";

//import styles
import "../styles/styles.css";
---

<MainLayout
  title="Learn to grow your money"
  description="YYou want to invest your money: yourself and without a bank. Or would you rather trade? You just don't know how. I will help you make the right decisions at the most appropriate time."
  lang="en"
  opengraph={{
    url: "https://www.inloopo.com/",
    image: "https://www.inloopo.com/images/index-og.jpg",
    type: "website",
    description: "When and how to trade or invest? Learn with me to make the right decisions.",
    locale: "en",
  }}>
  <!-- Teaser -->
  <HeroShot
    title="Learn trading and investing"
    description="Realize your financial dreams by learning a proper trading strategy and achieving a stable return."
    button={{
      href: "https://tidycal.com/inloopo/30min-meeting-with-philipp",
      target: "_blank",
      text: "Schedule a free coaching with me!",
    }}
    backgroundImageClass="main-teaser__homepage"
  />

  <!-- BENEFITS -->
  <BenefitCard
    title="Choose a strategy that suits you"
    description="I personally trade three strategies with different time requirements, risk and returns."
    icon={{
      src: "/images/light-bulb.svg",
      alt: "Light Bulb Icon",
      width: "280",
    }}
    columnReverseClass="img-left"
  />

  <!-- PRODUCTS -->
  <section>
    <div class="wrapper">
      <div class="row">
        <ProductCard
          icon={{
            src: "/images/pulse-circle.svg",
            alt: "ein Bär und Stier",
          }}
          type="Day trading Course"
          title="Day trading 1-2 hrs/day"
          description="In this course you will learn professional day trading with futures. Here you will learn how to capitalize foreign currency accounts and achieve constant profits."
          link={{
            href: "coaching/",
            text: "To the coaching program",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border"
        />
        <ProductCard
          icon={{
            src: "/images/star-circle.svg",
            alt: "ein Ampel",
          }}
          type="1-on-1 coaching"
          title="Swing trading 30 min/day"
          description="In my 1-to-1 coaching I will teach you my swing or day trading strategy with futures. Of course, you can also learn a lot more about trading and successful investing individually."
          link={{
            href: "coaching/",
            text: "To the coaching program",
          }}
          backgroundColorClass="darker-color"
          linkColorClass="darker-border"
        />
        <ProductCard
          icon={{
            src: "/images/traffic-light-circle.svg",
            alt: "eine Ampel",
          }}
          type="ETF strategy"
          title="ETF strategy 30 min/week"
          description="A steady return can also be achieved with ETFs. In my ETF Signal Service, I send you a message when I manage my positions."
          link={{
            href: "/investment/",
            text: "To the ETF Signal Service",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border"
        />
      </div>
    </div>
  </section>

  <!-- BACKGROUND IMAGE WITH TEXT -->
  <BackgroundImage
    title="I'm Philipp."
    description="Since 2008 I have been working on how to invest my money in a risk-oriented and consistent fashion on the stock market with very little time. What drives me? There are strategies help you navigate through the big crashes. It's just that many people don't know them."
    button={{
      href: "about/",
      text: "More about me",
    }}
    backgroundImageClass="secondary-teaser__image--philipp"
  />

  <!-- SOFTWARE AND TOOLS -->
  <section>
    <div class="wrapper-content">
      <Software heading="Tools I work with" />
    </div>
  </section>

  <!-- QUALIFICATIONS -->
  <div class="wrapper-content">
    <div class="row">
      <QualiCard
        title="Stock market experience"
        description="You are looking for an experienced trader? I started with CFD's, and later progressed onto stocks, US options on stocks and commodities. Today I trade futures according to a proper fundamental analysis with COT data and seasonal trends, in line with successful timing, and risk & money management. The rest of my capital I invest strategically based on the stock market indicator with the inloopo strategy."
        icon={{
          src: "images/books.svg",
          alt: "Book Icon",
        }}
      />

      <QualiCard
        title="Proven success"
        description="You need confidence? I participated in the Global Cup Championship of Futures Trading™ 2021-2022 with my Futures Swing Trading Strategy. This is the World Trading Championship. I made it to the 5th place with <a href='/images/wcc.pdf' target='_blank' title='PDF proof' class='link'>+64.1% profit per year</a>."
        icon={{
          src: "images/hat.svg",
          alt: "Hat Icon",
        }}
      />

      <QualiCard
        title="Analytical thinking"
        description="You want to follow a strategic person? I make my analyses precisely and carefully. My decisions are rationall and data based. These are the fundamentals for recurring success."
        icon={{
          src: "images/data.svg",
          alt: "Data and Charts Icon",
        }}
      />
    </div>
  </div>

  <!-- PRODUCTS -->
  <section>
    <div class="wrapper-content">
      <div class="row">
        <ProductCard
          title="Invest with a stock market indicator"
          description="The stock market indicator shows you when to invest and when to stay in cash."
          link={{
            href: "investment/",
            text: "Go to the indicator",
          }}
        />

        <ProductCard
          title="Follow my Etoro"
          description="To invest in a managed account."
          link={{
            href: "etoro/",
            text: "Go to Etoro",
          }}
        />
      </div>
    </div>
  </section>
</MainLayout>
