---
//import component and layout
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Software from "../components/Software.astro";
import QualiCard from "../components/QualiCard.astro";
import BenefitCard from "../components/BenefitCard.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import ProductCard from "../components/ProductCard.astro";

//import styles
import "../styles/styles.css";
---

<MainLayout
  title="Invest money with little effort"
  description="You want to invest money: By yourself and without any bank. You just don't know how. I help you to invest in the right moment."
  lang="en"
  opengraph={{
    url: "https://www.inloopo.com/",
    image: "https://www.inloopo.com/images/index-og.jpg",
    type: "website",
    description: "You dont know when to invest money. I help you to make the right decision.",
    locale: "en",
  }}>
  <!-- Teaser -->
  <HeroShot
    title="Day trading. But how?"
    description="In my new day trading project, I trade 1 to 2 hours and make $100 profit per day. Learn more about it in my next free webinar."
    button={{
      text: "Join the free webinar",
      href: "https://inloopo.com/de/daytrading-webinar",
      target: "_blank",
    }}
    backgroundImageClass="main-teaser__homepage"
  />

  <!-- BENEFITS -->
  <BenefitCard
    title="Better manage your capital with a strategy"
    description="With my offer you invest strategically. I can build your skillset to help you gain consistency in your trading."
    icon={{
      src: "/images/clock.svg",
      alt: "Clock Icon",
      width: "280",
    }}
    columnReverseClass="img-left"
  />

  <BenefitCard
    title="Invest efficiently without prior knowledge"
    description="No more blah blah. In my products you learn what you really need to implement my strategies."
    icon={{
      src: "/images/light-bulb.svg",
      alt: "Light Bulb Icon",
      width: "280",
    }}
  />

  <BenefitCard
    title="Choose a strategy that suits you"
    description="I offer you four strategies. They differ in time, risk and return."
    icon={{
      src: "/images/strategy-pyramid.svg",
      alt: "All strategies displayed in a pyramid",
      width: "440",
    }}
  />

  <!-- BACKGROUND IMAGE WITH TEXT -->
  <BackgroundImage
    title="I'm Philipp."
    description="Since 2008 I have been working on how to invest my money in a risk-oriented and consistent fashion on the stock market with very little time. What drives me? There are strategies help you navigate through the big crashes. It's just that many people don't know them."
    button={{
      href: "about/",
      text: "More about me",
    }}
    backgroundImageClass="secondary-teaser__image--philipp"
  />

  <!-- SOFTWARE AND TOOLS -->
  <section>
    <div class="wrapper-content">
      <Software heading="Tools I work with" />
    </div>
  </section>

  <!-- QUALIFICATIONS -->
  <div class="wrapper-content">
    <div class="row">
      <QualiCard
        title="Stock market experience"
        description="You are looking for an experienced trader? I started with CFD's, and later progressed onto stocks, US options on stocks and commodities. Today I trade futures according to a proper fundamental analysis with COT data and seasonal trends, in line with successful timing, and risk & money management. The rest of my capital I invest strategically based on the stock market indicator with the inloopo strategy."
        icon={{
          src: "images/books.svg",
          alt: "Book Icon",
        }}
      />

      <QualiCard
        title="Proven success"
        description="You need confidence? I participated in the Global Cup Championship of Futures Trading™ 2021-2022 with my Futures Swing Trading Strategy. This is the World Trading Championship. I made it to the 5th place with <a href='/images/wcc.pdf' target='_blank' title='PDF proof' class='link'>+64.1% profit per year</a>."
        icon={{
          src: "images/hat.svg",
          alt: "Hat Icon",
        }}
      />

      <QualiCard
        title="Analytical thinking"
        description="You want to follow a strategic person? I make my analyses precisely and carefully. My decisions are rationall and data based. These are the fundamentals for recurring success."
        icon={{
          src: "images/data.svg",
          alt: "Data and Charts Icon",
        }}
      />
    </div>
  </div>

  <!-- PRODUCTS -->
  <section>
    <div class="wrapper-content">
      <div class="row">
        <ProductCard
          title="Invest with a stock market indicator"
          description="The stock market indicator shows you when to invest and when to stay in cash."
          link={{
            href: "investment/",
            text: "Go to the indicator",
          }}
        />

        <ProductCard
          title="Follow my Etoro"
          description="To invest in a managed account."
          link={{
            href: "etoro/",
            text: "Go to Etoro",
          }}
        />
      </div>
    </div>
  </section>
</MainLayout>
