---
//import layout
import MainLayout from "../layouts/MainLayout.astro";

//import
import "../styles/styles.css";
---

<MainLayout
  title="Thank you"
  description="Thank you for your purchase"
  lang="en"
  canonical="https://www.inloopo.com/thank-you/"
  noIndex>
  <div class="wrapper">
    <!-- TEASER -->
    <div class="wrapper-content">
      <section>
        <div class="row">
          <div class="column half main-teaser__heading-one--mobile">
            <h1>Congratulations on your purchase!</h1>
            <p class="p--bigger">The debit will be made by CopeCart, our payment processor.</p>
          </div>
          <div class="column half">
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- CONTENT -->

    <div class="wrapper-content-blog">
      <setion>
        <h2 class="blog__heading">What you need now</h2>
        <p class="blog__text">
          Time, patience and consistency. That's how you get more returns with less drawdown. And all that with only one
          ETF and minimal time expenditure thanks to my signal service! You too can beat the market! Thank you for
          supporting my work.
        </p>
      </setion>

      <section>
        <h3 class="blog__subheading">Your next steps</h3>
        <ul class="box__ul">
          <li class="list__li">
            <div class="box__circle box__circle--number">1</div>
             Download <a href="https://telegram.org/" target="_blank" class="link">Telegram</a>. It is available for
            desktop, iPhone and smartphone.
          </li>
          <li class="list__li">
            <div class="box__circle">2</div>If you already have Telegram, join the Telegram Channel <a
              class="link"
              target="_blank"
              href="https://t.me/+UUd7dozyANUzMzNi">Signal Service S&P 500 Strategy</a
            > now.
          </li>
          <li class="list__li">
            <div class="box__circle">3</div>Watch the <a
              href="https://www.youtube.com/watch?v=CJ8AWWHINfM"
              target="_blank"
              class="link">introduction video</a
            > before you start.
          </li>
          <li class="list__li">
            <div class="box__circle">4</div>Also download the <a
              href="/images/erste-schritte-mit-dem-inloopo-signaldienst.pdf"
              class="link"
              download>presentation</a
            > and save it. There you can read the most important things at any time.
          </li>
        </ul>
      </section>

      <section>
        <h3 class="blog__subheading">What do you need to implement the strategy?</h3>
        <ul class="box__ul">
          <li class="list__li">
            <div class="box__circle box__circle--number">1</div>
             Broker Account
          </li>
          <li class="list__li">
            <div class="box__circle">2</div>
             Find out about the ETF of your choice. I trade the S&P 500 ETF "iShares S&P 500 EUR Hedged UCITS ETF" with
            the WKN: A1C5E9 and ISIN: IE00B3ZW0K18.
          </li>
          <li class="list__li">
            <div class="box__circle">3</div>If the traffic light is currently green, you can start directly.
            <li class="box__li box__link">
              <img src="/images/icon-arrow.svg" width="20" height="20" />
               Start with a manageable amount to get to know everything.
            </li>
            <li class="box__li box__link">
              <img src="/images/icon-arrow.svg" width="20" height="20" />
               Set up a monthly savings plan for your ETF.
            </li>
            <li class="box__li box__link">
              <img src="/images/icon-arrow.svg" width="20" height="20" />
               Familiarise yourself with the order types "Stop Buy" and "Stop Sell" or "Stop Loss". These two order
              types are used to implement the traffic light signals. You can follow the current signals in chronological
              order in the S&P500 Strategy Signal Service channel.
            </li>
            <li class="list__li">
              <div class="box__circle">4</div>
               If the traffic light is currently orange or red, wait for a buy signal in the Signal Service S&P 500
              Strategy channel and stay with it.
            </li>
          </li>
        </ul>
      </section>

      <section>
        <h3 class="blog__subheading">Important info</h3>
        <ul class="box__ul">
          <li class="box__li">
            <img src="/images/icon-arrow.svg" width="20" height="20" />I implement the trading signals 1:1 with my
            private money. For this purpose, I execute a monthly savings plan when the traffic light is green. When the
            light turns red, I liquidate my entire position and also pause the savings plan.
          </li>
          <li class="box__li">
            <img src="/images/icon-arrow.svg" width="20" height="20" />In the Telegram Channel signal service S&P 500
            Strategy you only get a message when there is really something to do. It's best to read through the last
            posts so that you can understand the situation.
          </li>
          <li class="box__li">
            <img src="/images/icon-arrow.svg" width="20" height="20" />You will only receive messages from me on Sundays
            so that you don't have to deal with your finances during the week.
          </li>
        </ul>
      </section>
    </div>
  </div>
   LeiCha
</MainLayout>
