---
const { title, description, button, backgroundImageClass } = Astro.props;
---

<section>
    <div class={`
    secondary-teaser
    ${backgroundImageClass}
    `}>
      <div class="wrapper">
        <h2 class="secondary-teaser__heading">{ title }</h2>
        <blockquote class="secondary-teaser__quote">
         { description }<br /><br />
         { 
         button &&
          (<p><a href={ button.href } class="button">{ button.text }</a></p>)
          }
        </blockquote>
      </div>
    </div>
</section>
 