<div class="rating">
  <h2 class="article__heading-two rating__heading">Wie hat dir der Artikel gefallen?</h2>
  <form action="https://formsubmit.co/info@inloopo.com" method="post">
    <div class="rating__stars">
      <input type="radio" id="five" name="rate" value="5" />
      <label for="five"></label>
      <input type="radio" id="four" name="rate" value="4" />
      <label for="four"></label>
      <input type="radio" id="three" name="rate" value="3" />
      <label for="three"></label>
      <input type="radio" id="two" name="rate" value="2" />
      <label for="two"></label>
      <input type="radio" id="one" name="rate" value="1" />
      <label for="one"></label>
      <span class="rating__result"></span>
    </div>
    <div class="rating__feedback">
      <label class="rating__feedback-heading" for="nachricht">Was können wir besser machen?</label>
      <textarea class="rating__feedback-text" placeholder="Dein Feedback." name="text"></textarea>
      <input class="rating__submit-btn" id="Senden" type="submit" name="submit" value="Senden" />
    </div>
  </form>
</div>
