---
import NavbarLink from "./NavbarLink.astro";
const { lang } = Astro.props;

type Langs = "de" | "en";
interface Props {
  lang: Langs;
}

interface SubNav {
  name: string;
  links: Link[];
}

interface Link {
  name: string;
  href: string;
  classes?: string;
}

type NavbarData = SubNav | Link;

interface LinkInfo {
  home: string;
  data: NavbarData[];
}

const links: Record<Langs, LinkInfo> = {
  de: {
    home: "/de",
    data: [
      {
        name: "Produkte",
        links: [
          {
            name: "Signaldienst",
            href: "/de/investieren",
          },
          {
            name: "Social Trading",
            href: "/de/wikifolio",
          },
        ],
      },
      {
        name: "Tools",
        links: [
          {
            name: "Börsenampel",
            href: "/de/boersenampel",
          },
          {
            name: "Sektorrotation",
            href: "/de/sektorrotation",
          },
        ],
      },
      {
        name: "Blog",
        href: "/de/blog",
      },
      {
        name: "Über",
        href: "/de/ueber-mich",
      },
      {
        name: "Kontakt",
        href: "/de/kontakt",
      },
      {
        name: "Freies E-Book",
        href: "/de/e-book-kommt-bald",
        classes: "navbar__button",
      },
      {
        name: "EN",
        href: "/",
      },
    ],
  },
  en: {
    home: "/",
    data: [
      {
        name: "Products",
        links: [
          {
            name: "Signal Service",
            href: "/investment",
          },
          {
            name: "Managed Account",
            href: "/wikifolio",
          },
        ],
      },
      {
        name: "About",
        href: "/about",
      },
      {
        name: "Contact",
        href: "/contact",
      },
      {
        name: "Free E-Book",
        href: "/coming-soon",
        classes: "navbar__button",
      },
      {
        name: "DE",
        href: "/de",
      },
    ],
  },
};

function isSubnavLink(navData: NavbarData): navData is SubNav {
  return navData.hasOwnProperty("links");
}
---

<header>
  <nav class="navbar">
    <a href={links[lang].home} class="logo">
      <img src="/images/logo.svg" width="150" alt="Logo Inloopo" />
    </a>
    <input type="checkbox" id="toggle-button" />
    <label for="toggle-button" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <ul class="navbar__ul">
      {
        links[lang].data.map((navData) => {
          if (isSubnavLink(navData)) {
            return (
              <li class="sub-navbar__dropdown">
                <input type="checkbox" id={`${navData.name}-checkbox`} />
                <label for={`${navData.name}-checkbox`} class="navbar__li">
                  {navData.name}
                </label>
                <ul class="sub-navbar">
                  {navData.links.map((subLink) => {
                    return <NavbarLink {...subLink} />;
                  })}
                </ul>
              </li>
            );
          } else {
            return <NavbarLink {...navData} />;
          }
        })
      }
    </ul>
  </nav>
</header>

<style>
  header {
    height: var(--navbar-height, 80px);
  }
  .logo {
    flex-shrink: 0;
    padding-left: 50px;
    padding-top: 10px;
  }

  .navbar {
    height: var(--navbar-height);
    width: 100%;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 1px 1px 4px #d2d2d2;
  }

  .navbar__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    list-style: none;
    height: 100%;
    position: relative;
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-size: 1.375rem;
    margin-right: 40px;
  }

  .navbar__lang {
    margin-right: 20px;
  }

  .navbar input[type="checkbox"] {
    display: none;
  }

  .nav--active {
    color: #ff6b35;
  }

  .nav__lang {
    color: #fff;
    background-color: #ff6b35;
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
  }

  .nav__lang:hover {
    cursor: pointer;
    color: #fff;
  }

  .sub-navbar {
    list-style: none;
    position: absolute;
    top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    opacity: 0.98;
    display: none;
    margin-left: 80px;
    padding: 20px;
  }

  .sub-navbar__dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 40px;
  }

  .sub-navbar__dropdown:hover {
    color: #ff6b35;
  }

  nav li:hover .sub-navbar {
    display: flex;
  }

  .sub-navbar li a {
    justify-content: flex-start;
    font-size: 1.25rem;
  }

  .toggle-button {
    display: none;
  }



 

  @media only screen and (max-width: 1300px) {
    .logo {
      padding: 0;
      width: 120px;
      margin-left: 40px;
      margin-top: 10px;
    }

    .toggle-button {
      width: 35px;
      height: 25px;
      position: absolute;
      top: 25px;
      right: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    .bar {
      height: 4px;
      width: 100%;
      background: #171614;
      border-radius: 4px;
    }

    nav {
      height: 70px;
    }

    nav ul {
      height: min-content;
      width: 100%;
      background: #fff;
      display: none;
      position: absolute;
      top: 70px;
    }

    nav li {
      height: min-content;
      width: 100%;
      padding: 0;
    }

    nav ul a {
      padding: 30px 0;
    }

    nav li,
    .expandable-li {
      margin-left: 0;
    }

    .expandable-li {
      display: block;
    }

    .expandable-li:hover .dropdown {
      display: none;
    }

    .expandable-li input[type="checkbox"]:checked ~ .dropdown {
      display: block;
    }

    .dropdown {
      position: static;
      width: 100%;
    }

    .dropdown li {
      padding: 0;
      display: block;
      position: static;
      background: #fff;
    }

    .dropdown li a {
      width: 100%;
      padding: 0;
      justify-content: center;
    }

    #toggle-button:checked ~ ul {
      display: block;
    }
    header {
      padding: 0;
    }

    .logo {
      padding: 0;
      width: 100px;
      margin-left: 20px;
      margin-top: 10px;
    }

    .logo:hover {
      border-bottom: none;
      cursor: pointer;
    }

    .toggle-button {
      display: flex;
    }

    .navbar {
      height: 80px;
    }

    .navbar__ul {
      height: min-content;
      width: 100%;
      background: #fff;
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      padding-left: 40px;
      opacity: 0.98;
    }

    .navbar__lang {
      margin-bottom: 30px;
    }

    .sub-navbar__dropdown {
      display: block;
    }

    .sub-navbar__dropdown:hover .sub-navbar {
      display: none;
    }

    .sub-navbar__dropdown input[type="checkbox"]:checked ~ .sub-navbar {
      display: block;
    }

    .sub-navbar {
      position: static;
      width: 100%;
      margin-left: 0;
    }

    .navbar__li {
      height: min-content;
      width: 80%;
      margin-right: 40px;
    }

    .navbar__button {
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #toggle-button:checked ~ ul {
      display: block;
    }
  }

  @media only screen and (max-width: 759px) {
    header {
      padding: 0;
    }

    .logo {
      padding: 0;
      width: 100px;
      margin-left: 20px;
      margin-top: 10px;
    }

    .logo:hover {
      border-bottom: none;
      cursor: pointer;
    }

    .toggle-button {
      display: flex;
    }

    .navbar {
      height: 80px;
    }

    .navbar__ul {
      height: min-content;
      width: 100%;
      background: #fff;
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      padding-right: 30px;
      text-align: right;
      opacity: 0.98;
    }

    .navbar__li {
      height: min-content;
      width: 100%;
      margin-right: 0;
    }

    .navbar__lang {
      margin-bottom: 30px;
    }

    .sub-navbar__dropdown:hover .sub-navbar {
      display: none;
    }

    .sub-navbar__dropdown input[type="checkbox"]:checked ~ .sub-navbar {
      display: block;
    }

    .sub-navbar {
      position: static;
      width: 100%;
      margin-left: 0;
    }

    .navbar__button {
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #toggle-button:checked ~ ul {
      display: block;
    }
  }
  .toggle-button span.bar {
    transition: transform 200ms linear, opacity 100ms linear;
  }

  .toggle-button span.bar:nth-child(1) {
    transform: translateY(0) rotate(0deg);
  }

  .toggle-button span.bar:nth-child(2) {
    opacity: 1;
  }

  .toggle-button span.bar:nth-child(3) {
    transform: translateY() rotate(0deg);
  }

  #toggle-button:checked ~ .toggle-button span.bar:nth-child(1) {
    transform: translateY(10.5px) rotate(135deg);
  }

  #toggle-button:checked ~ .toggle-button span.bar:nth-child(2) {
    opacity: 0;
  }

  #toggle-button:checked ~ .toggle-button span.bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-135deg);
  }
</style>
