---
const {title, description, icon} = Astro.props;
---
<div class="wrapper-content">
    <div class="row row--no-background">
        <div class="quali-card__container">
        { icon && 
        (<img
            src={ icon.src }
            class="column__icon"
            width="70"
            height="70"
            alt={ icon.alt }
            />)}
            <h3 class="quali-card__heading">{ title }</h3>
            <p set:html={ description} class="quali-card__text">
            </p>
        </div>
    </div>
</div>

  <style>
    .quali-card__container {
    padding: 25px;
    width: 33%;
    }

  .quali-card__heading {
  text-align: center;
  margin-top: 20px;
}

.quali-card__text {
  text-align: center;
    }

    @media only screen and (min-width: 760px) and (max-width: 979px) {
    
        .quali-card__container {
            width: 100%;
        }
    }

    @media only screen and (max-width: 759px) {
        .quali-card__container {
            width: 100%;
        }
    }
  </style>