---
const { text, marginBottom = "" } = Astro.props;
---

<div
  class={`quote__container
${marginBottom}
`}>
  <img src="/images/quote.svg" class="quote__img" alt="Anführungszeichen für Zitat" width="30" height="30" />
  <blockquote set:html={text} class="quote">
    <slot />
  </blockquote>
</div>

<style>
  .quote__container {
    margin-bottom: 120px;
    padding: 90px;
  }

  .quote__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .quote {
    font-size: 28px;
    color: #242325;
    text-align: center;
    padding: 0 24px;
    margin-top: 30px;
  }

  @media only screen and (max-width: 759px) {
    .quote {
      padding: 0 25px;
      font-size: 24px;
    }

    .quote__container {
      margin-bottom: 0;
      padding-left: 32px;
      padding-right: 32px;
    }

    .less-margin-bottom {
      margin-bottom: 30px;
    }
  }
</style>
