---
const { facebookLink, linkedinLink, twitterLink } = Astro.props;
---

<div class="share__container">
  <div class="animated_share_btn">
    <a href={facebookLink} target="_blank"
      ><img class="article__social-media-icon" src="../../images/icon-facebook.svg" width="20" alt="Facebook Icon" /></a
    >
    <a href={linkedinLink} target="_blank"
      ><img class="article__social-media-icon" src="../../images/icon-linkedin.svg" width="20" alt="LinkedIn Icon" /></a
    >
    <a href={twitterLink} target="_blank"
      ><img class="article__social-media-icon" src="../../images/icon-twitter.svg" width="20" alt="Twitter Icon" /></a
    >
  </div>
</div>

<style>
  .share__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .article__social-media-icon {
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
  }

  .animated_share_btn {
    cursor: pointer;
    border: 1px solid #ff6b35;
    position: relative;
  }

  .animated_share_btn a {
    padding: 5px 10px 5px 10px;
  }

  .animated_share_btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff6b35;
    transition: 0.5s ease-in-out;
  }

  .animated_share_btn:after {
    content: "Share";
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
  }

  .animated_share_btn:hover:before,
  .animated_share_btn:hover:after {
    left: -100%;
  }
</style>
