---
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import ShareButton from "../../components/ShareButton.astro";
import Button from "../../components/Button.astro";
---

<MainLayout
  title="Börsenampel als Tool"
  description="Überprüfe den aktuellen Stand der inloopo Börsenampel."
  opengraph={{
    description: "Sieh dir den aktuellen Stand der inloopo Börsenampel an.",
    locale: "de",
    type: "website",
    url: "https://www.inloopo.com/de/boersenampel/",
    image: "https://www.inloopo.com/images/inloopo-boersenampel-stand-og.jpg",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/boersenampel/">
  <!-- TEASER -->
  <HeroShot
    title="Börsenampel"
    description="Jeden Sonntag um 18 Uhr veröffentliche ich den aktuellen Stand der inloopo Börsenampel. Komm in meinen Telegram-Kanal und erhalte die inloopo Börsenampel direkt auf dein Handy. Außerdem kannst du dort Fragen stellen und alle vergangenen Signale einsehen."
    backgroundImageClass="main-teaser__page-boersenampel"
    button={{
      target: "_blank",
      href: "https://t.me/+Km1-SZkNz-s2ZWRi",
      text: "Kostenlos beitreten",
    }}
    withIcon={true}
  />

  <div class="wrapper-content-blog">
    <h2 class="align-center">Aktuelle Börsenampel</h2>
    <ShareButton
      facebookLink="https://www.facebook.com/sharer/sharer.php?u=https://www.inloopo.com/de/boersenampel/"
      linkedinLink="https://www.linkedin.com/shareArticle?mini=true&url=https://www.inloopo.com/de/boersenampel/"
      twitterLink="https://twitter.com/share?url=https://www.inloopo.com/de/boersenampel/"
    />
    <boersenampel-status lang="de"></boersenampel-status>
    <h2 class="align-center">Was ist die inloopo Börsenampel?</h2>
    <p>
      Die <a class="link" href="https://www.inloopo.com/de/anlagestrategien/inloopo-boersenampel/"
        >inloopo Börsenampel</a
      > zeigt jeden Sonntag eine fundamentale Analyse des US-Aktienmarktes (S&P 500 Index). Auf dieser Basis können verschiedene
      Strategien umgesetzt werden, wie z.B. eine konservative ETF-Strategie mit dem inloopo Signaldienst. Die Börsenampel
      kann aber auch für Optionsstrategien oder Futures Swing Trading genutzt werden.
    </p>
    <p>Schau dir die Performance des inloopo Signaldienstes als ETF Strategie an.</p>
    <Button link="https://www.inloopo.com/de/investieren/" text="Geh zum Signaldienst" />
  </div>

  <!-- Scripts -->
  <script type="module" src="/scripts/boersenampel-status.js"></script>
</MainLayout>
