---
//import components and layout
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import ProblemCard from "../../components/ProblemCard.astro";
import ModuleCard from "../../components/ModuleCard.astro";
import QualiCard from "../../components/QualiCard.astro";
import BackgroundImage from "../../components/BackgroundImage.astro";
import Button from "../../components/Button.astro";

//import styles
import "../../styles/styles.css";
---

<MainLayout
  title="inloopo day trading kurs"
  description="Du möchtest lernen, wie du Geld investierst. Daytrading ist eine Möglichkeit. Im inloopo Daytrading Kurs lernst du, wie du effizient Daytrading betreibt."
  lang="de"
  opengraph={{
    url: "https://www.inloopo.com/de/day-trading-kurs/",
    image: "https://www.inloopo.com/images/image-teaser-daytrading.jpg",
    locale: "en",
    type: "website",
    description: "Du willst investieren. Lerne Day Trading.",
  }}
  canonical="https://www.inloopo.com/de/day-trading-kurs/">
  <!-- MAIN TEASER -->
  <HeroShot
    title="Lerne professionelles Daytrading"
    description="In diesem Daytrading Kurs lernst du Daytrading ohne den ganzen Tag vor dem Bildschirm zu sitzen. Ich selbst trade nur 1-2 Stunden am Abend und zeige dir alle meine Trades 100% transparent."
    button={{
      href: "https://us06web.zoom.us/meeting/register/tZIqc-Ctpj0vGdCuQnTxvKu_nWA1Sb-bCfCb",
      target: "_blank",
      text: "Komm zum freien Webinar",
    }}
    backgroundImageClass="main-teaser__page-daytrading"
  />

  <!-- PROBLEMS -->
  <section>
    <div class="row box--grey-background box--desktop">
      <div class="wrapper-content">
        <ProblemCard
          title="Du..."
          icon={{
            src: "/images/sad.svg",
            alt: "Sad Face",
          }}
          listItems={[
            "folgst aktuell nur zufälligen Indikatoren für deine Trading Setups.",
            "bist nicht erfolgreich im Day Trading.",
            "hast nicht ausreichend Wissen und kein Risikomanagement.",
          ]}
        />

        <ProblemCard
          title="Du möchtest..."
          icon={{
            src: "/images/happy.svg",
            alt: "Happy Face",
          }}
          listItems={[
            "eine professionelle Trading Software verwenden mit Orderflow Analyse.",
            "beständig im Demo- und später Echtgeldtrading sein.",
            "genau wissen, wie du deine Position und deine Risiken managest für eine glatte Performance Kurve.",
          ]}
        />
      </div>
    </div>
  </section>

  <!-- FOR WHOM -->
  <div class="wrapper-content">
    <h2 class="text-box__heading">Werde ein professioneller Trader</h2>
    <div class="text-box">
      <p>
        Ich glaube, dass fast jeder mit den richtigen Werkzeugen, der richtigen Ausbildung und der richtigen Einstellung
        an den Finanzmärkten erfolgreich sein kann. Die einzige Fähigkeit, die du brauchst, ist Leidenschaft und die
        Fähigkeit konsequent and dir zu arbeiten und sich ständig zu verbessern.
      </p>
      <p>
        Mein Daytrading Kurs ist für Trader aller Kenntnisstufen konzipiert. Der Kurs deckt die Sicht des
        professionellen Händlers ab, beginnt aber mit den Grundlagen. Sieh dir meine <a
          href="https://www.tradesviz.com/viewstats/inloopo"
          target="_blank"
          class="link">Trading Statistik</a
        > an, um Vertrauen zu gewinnen und deinen Kurs zu beginnen.
      </p>
    </div>
  </div>
  <!-- FEATURES -->
  <div class="wrapper-content">
    <h2 class="column__heading">Alles was du brauchst</h2>
    <div class="row">
      <QualiCard
        title="Professionelle Software"
        description="Lerne professionelle Software zu benutzen wie die großen Investmentfirmen. Du wirst Sierra Chart mit meinen Tools und Setups verwenden (Wert ca. 2.000 €)."
        icon={{
          src: "/images/automation.svg",
          alt: "Buch Icon",
        }}
      />
      <QualiCard
        title="Track Record"
        description="Ich veröffentliche eine 100% transparente Trading Bilanz. Ebenso hast du die Möglichkeit mir bei meinen Live-Trading Sessions über die Schulter zu schauen."
        icon={{
          src: "/images/bear-tracks.svg",
          alt: "Hut Icon",
        }}
      />
      <QualiCard
        title="Handel professionell"
        description="Alle Traden FOREX oder CFDs. Du nicht. Denn du wirst lernen wie du mit Futures handelst. Der Handel ist transparenter und du hast eine höhere Erfolgswahrscheinlichkeit, wenn du deine Risiken konsequent managest."
        icon={{
          src: "/images/diamond.svg",
          alt: "Daten und Charts Icon",
        }}
      />
    </div>
  </div>

  <section class="wrapper-content">
    <h2 class="column__heading">Ein Videokurs mit 14 Modulen</h2>
    <p>Achtung. Der Kurs ist auf Englisch.</p>
    <div class="grid grid-3fr">
      <ModuleCard
        title="Your Professional Trading Career Starts"
        icon={{
          src: "/images/space-shuttle.svg",
          alt: "Start icon",
          width: "70",
        }}
        listItems={[
          "Introduction",
          "Who are the big market participants?",
          "Why to trade Futures and not FOREX or CFD’s?",
          "Trading timetable and summary",
        ]}
      />

      <ModuleCard
        title="Market theory and raw data"
        icon={{
          src: "/images/inbox.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={[
          "Theory of the market - Why does the price move?",
          "Orderbook (DOM)",
          "Live example",
          "Task: Transfer supply and demand to your real live",
          "Summary and next steps",
        ]}
      />

      <ModuleCard
        title="Tools and Downloads"
        icon={{
          src: "/images/lunch.svg",
          alt: "Put data in icon",
          width: "120",
        }}
        listItems={[
          "Sierra Chart installation",
          "Institutional Sierra Chart Setup tools (worth 2.000$)",
          "Demo trading",
          "Task: Trade with the DOM (2 weeks)",
          "Summary and next steps",
          "Download PDF Documents",
        ]}
      />

      <ModuleCard
        title="Volume Profile"
        icon={{
          src: "/images/pixel.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={[
          "What is the goal of the volume profile?",
          "Profile shapes",
          "When to merge profiles?",
          "When to split profiles?",
          "The ultimate goal",
          "Task: Take a look and the current market and merge or split volume profiles for the last 2 month",
        ]}
      />

      <ModuleCard
        title="VWAP and volume-based candle chart"
        icon={{
          src: "/images/candle-chart.svg",
          alt: "Candle chart icon",
          width: "70",
        }}
        listItems={["What is the VWAP?", "Why do we use volume candles?", "POC", "First and second deviation"]}
      />

      <ModuleCard
        title="Context and trade setup"
        icon={{
          src: "/images/laptop.svg",
          alt: "Put data in icon",
          width: "100",
        }}
        listItems={[
          "What is context and why is it so important?",
          "Market profile conditions and rhythm (DVA)",
          "Composite value area (CVA) / Line in the sand (LIS)",
          "Task: Merge profiles and train to define your hypothesis (min. 2 month)",
        ]}
      />

      <ModuleCard
        title="Footprint"
        icon={{
          src: "/images/foot-print.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={["Introduction", "Settings and what do you see", "What is most important?", "Conclusion"]}
      />

      <ModuleCard
        title="Cumulative data"
        icon={{
          src: "/images/calculator.svg",
          alt: "Calculator icon",
          width: "60",
        }}
        listItems={["Introduction – What is cumulative Delta?", "Why do we use it?", "What can you see?", "Conclusion"]}
      />

      <ModuleCard
        title="Putting everything together"
        icon={{
          src: "/images/lego.svg",
          alt: "Laptop icon",
          width: "50",
        }}
        listItems={[
          "Context and trading setup - the ultimat goal",
          "Task: Demo trading until you are constantly successful for at least 20 trading days",
        ]}
      />

      <ModuleCard
        title="Risk and money management"
        icon={{
          src: "/images/monster.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={[
          "Rule number one! – Always trade with a hard stop loss order!",
          "Rule number two! – Never move your initial stop loss order!",
          "Always try to reduce your risk to break even + 1 tick",
          "The only thing you can control is your risk. – Performances will come by itself. 😊",
        ]}
      />

      <ModuleCard
        title="Entry and exit strategy"
        icon={{
          src: "/images/drill.svg",
          alt: "Drill icon",
          width: "70",
        }}
        listItems={[
          "Introduction - What is the context",
          "Trade with the trend",
          "How to trade ranges? - VVAP is flat",
          "Conclusion",
        ]}
      />

      <ModuleCard
        title="Position management"
        icon={{
          src: "/images/coins.svg",
          alt: "Put data in icon",
          width: "60",
        }}
        listItems={["When to take part profits?", "When to reduce your risks?", "When to exit all positions?"]}
      />

      <ModuleCard
        title="Trading statistics"
        icon={{
          src: "/images/presentation.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={["I use and recommend TradesViz.com"]}
      />

      <ModuleCard
        title="Bonus trading psychology mindset"
        icon={{
          src: "/images/law.svg",
          alt: "Put data in icon",
          width: "70",
        }}
        listItems={["What is the right mindset?", "How to get it?"]}
      />
    </div>
  </section>

  <!-- HWY US -->
  <section>
    <BackgroundImage
      title="Man lernt, wenn man scheitert, aufsteht und weitermacht"
      description="Ich habe jahrelang mit den falschen Strategien und einer falschen Finanzausbildung gehandelt. Ich habe viele Fehler gemacht, aber auch eine Menge gelernt. Im Jahr 2020 habe ich meine zweijährige Ausbildung zum Futures Trader abgeschlossen. Seitdem sehe ich die Märkte aus einer professionellen Perspektive. Inzwischen handel ich 3 Strategien auf verschiedenen Konten. Die am besten funktionierende Strategie ist diese Daytrading Strategie, dich ich dir in diesem Kurs beibringe."
      button={{
        text: "Jetzt kaufen",
        href: "https://philipp-s-site-351a.thinkific.com/courses/professional-day-trading",
        target: "target__blank",
      }}
      backgroundImageClass="secondary-teaser__course"
      textColorClass="light"
    />
  </section>

  <!-- CONTENT FAQ SECTION -->
  <div class="wrapper-content">
    <section>
      <div class="faq__container">
        <h2 class="faq__heading--center">FAQs</h2>
        <div class="accordion">
          <div class="accordion-item">
            <a>Was unterscheidet mich von anderen?</a>
            <div class="content">
              <p>
                Ich habe den Handel an den Finanzmärkten völlig falsch begonnen. Denn ich dachte, es sei einfach und
                jeder könne es mit nur ein paar Minuten am Tag machen. Ich habe von 2008 bis 2021 gebaucht um meinen
                Handelsansatz und auch in meinen Ergebnissen konsistent zu werden. Mit diesen Daytrading Kurs gebe ich
                dir mein ganzes Wissen weiter und zeige dir Fallstricke, die du vermeiden solltest, um ein erfolgreicher
                Trader zu werden.
              </p>
              <p>
                Außerdem zeigen 99% der Trading-Coaches nicht ihre Live-Trading-Statistik und Ergebnisse über einen
                langen Zeitraum. Aus diesem Grund habe ich an der Futures World Cup Trading Championship 2021-2022
                teilgenommen und mit einer Performance von 64,1 % den 5. Platz belegt.
              </p>
              <p>
                Sieh dir meinen <a class="link" href="https://www.youtube.com/@inloopo" target="_blank">YouTube Kanal</a
                > an, um mehr über mich zu erfahren.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Ich habe wenig oder gar keine Erfahrung. Werde ich Schwierigkeiten haben?</a>
            <div class="content">
              <p>
                Für diejenigen, die keine Handelserfahrung haben, wird es sehr intensiv sein. Denn du musst alles von
                Grund auf lernen. Aber das ist auch eine Chance um alles von Anfang an richtig zu lernen.
              </p>
              <p>
                Beispielsweise wird du den Handel mit Futures lernen und nicht durch CFDs oder Knockout-Zertifikate auf
                den falschen Weg zum Erfolg geschickt.
              </p>
              <p>
                Du wird alles lernen, was ein professioneller Trader wissen sollte und wie die großen Marktteilnehmer
                die Aktienmärkte im Intraday Bereich sehen.
              </p>
              <p>
                Wenn du keinerlei Handelserfahrung hast, aber begeistert und motiviert bist alles zu lernen, werde ich
                dir meine ganze Unterstützung geben um erfolgreich zu werden. Aber du musst dir Zeit nehmen und viel
                Geduld und Kraft haben um alles zu verinnerlichen und zu lernen.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Muss ich den ganzen Tag vor meinem Bildschirm sitzen?</a>
            <div class="content">
              <p>
                Nein. Der Name „Daytrading“ bedeutet nicht, dass du den ganzen Tag vor dem Bildschirm sitzen musst. Wie
                bereits erwähnt handel ich nur 2-3 Stunden am Abend, weil es perfekt in mein Leben passt. Andere
                Menschen handeln lieber früher am Tag, was auch okay ist. Jeder sollte ein Zeitfenster von mindestens 2
                Stunden in seinem Leben finden um das Trading durchzuführen.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Wie viel Zeit muss ich pro Tag für den Kurs aufwenden?</a>
            <div class="content">
              <p>
                Du kannst den Kurs jederzeit und von jedem Ort der Welt aus absolvieren. Der Kurs ist auf einer weltweit
                führenden Lernplattform aufgebaut, die völlig unabhängig von meiner Webseite ist. Du erhältst einen
                privaten Login-Bereich mit einem Benutzernamen und einem Passwort und hast rund um die Uhr Zugang zum
                Kursmaterial.
              </p>
              <p>
                Ich empfehle mindestens eine Stunde pro Tag für den Kurs und das Training. Je mehr, desto besser, denke
                ich. Es gibt viele Informationen, die vielleicht neu sind, und jeder sollte seinen eigenen Rhythmus und
                sein Tempo finden um alles zu verinnerlichen.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Wie lange habe ich Zugriff auf das Kursmaterial?</a>
            <div class="content">
              <p>Du hast unbegrenzten Zugang zu dem Kursmaterial.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Wird der Kurs häufig aktualisiert werden?</a>
            <div class="content">
              <p>
                Ja, der Kurs wird sich im Laufe der Zeit weiterentwickeln und wachsen. Ich werde weiterhin wertvolle
                Inhalte ohne zusätzliche Kosten hinzufügen.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Bietest du außerhalb des Kurses Unterstützung an oder bin ich auf mich allein gestellt?</a>
            <div class="content">
              <p>
                In den ersten 3 Monaten nach deinem Kauf hast du Zugang zu meinen wöchentlichen Live-Trading Webinaren.
                Dor beantworte ich alle Fragen und du kannst mir beim Trading über die Schulter schauen. Du kannst mir
                auch eine E-Mail schicken. Nach den ersten 3 Monaten kannst du führ einen geringen monatlichen Beitrag
                meine Live-Webinare abonnieren.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Welche Märkte handelst du?</a>
            <div class="content">
              <p>
                Ich Handel hauptsächlich die liquidesten Märkte wie den S&P 500 Indes [ES], den NASDQ Index [NQ], Rohöl
                [CL] und andere.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Muss ich ein großes Konto haben, um den Kurs zu beginnen?</a>
            <div class="content">
              <p>
                Ich empfehle eine Mindestkontogröße von 5000 US-Dollar. Je größer das Konto ist, desto einfach er ist
                das Risiko- und Moneymanagement man kann flexibler traden.
              </p>
              <p>
                Du kannst den Kurs aber auch ohne eigenes Trading-Konto beginnen und alles im Demohandel lernen. Sobald
                du alles verinnerlicht hast und im Demohandel über mehrere Wochen profitabel bist kannst du dich bei
                einer Prop-Trading-Firma für ein Fremdgeldkonto qualifizieren. Somit ist kein eigenes Trading-Konto mit
                eigenem Geld notwendig.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Wie viel Geld muss ich für die Trading Software und die Live-Daten zahlen?</a>
            <div class="content">
              <p>
                Um den Kurs zu beginnen empfehle ich Sierra Chart zu verwenden. Sierra Chart kann 15 Tage lang kostenlos
                getestet werden. Danach benötigst du verzögerte Daten um alle Aufgaben zu erledigen und um den
                simulierten Demohandel zu starten.
              </p>
              <p>
                Um den Kurs zu beenden benötigst du das Sierra Cahrt Paket 3 – Base Standard für 26 US-Dollar im Monat.
              </p>
              <p>
                Sobald du den simulierten Demohandel abgeschlossen hast und bereit bist mit echtem Geld zu traden musst
                du ein Upgrade auf Paket 11 für 46 US-Dollar pro Monat + Live Daten Abo (15 US-Dollar pro Monat)
                durchführen.
              </p>
              <p>
                Bitte prüfe die aktuellen Preise auf der <a
                  href="https://www.sierrachart.com/index.php?page=doc/Packages.php"
                  class="link"
                  target="_blank">Sierra Chart Webseite</a
                >.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Auf welcher Zeitebene oder in welchen Stil trade ich?</a>
            <div class="content">
              <p>
                Ich trade normalerweise nur abends, wenn meine Kinder schlafen. Das passt perfekt in meinen
                Lebensrhythmus. Was das Trading angeht versuche ich die intraday Wellen zu erwichen, die die Märkte mir
                am Abend bieten. Das bedeutet, dass ich versuche einen guten Einstieg zu finden une ein paar Minuten bis
                eine Stunde im Trade bleibe. Auf meinem Chart trade ich Volumenkerzen, die zeitunabhängig sind. Mehr
                darüber warum ich das mache lernst du im Kurs. 😉
              </p>
            </div>

            <div class="accordion-item">
              <a>Welchen Broker empfiehlst du?</a>
              <div class="content">
                <p>
                  Ich empfehle prinzipielle keine Broker. Die Wahl sollst du selbst treffen. Ich selbst trade bei Dorman
                  Trading, denn dort gibt es meiner Meinung nach die günstigsten Ordergebühren. In meinem freien <a
                    href="https://discord.gg/7tHkT824"
                    class="link"
                    target="_blank">Discord Channel</a
                  > findest du mehr Informationen über Ordergebühren und Dorman Trading.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Wo kann ich deine aktuelle Trading Statistik einsehen?</a>
              <div class="content">
                <p>
                  Du kannst meine aktuelle Trading Statistik auf meinem <a
                    href="https://www.tradesviz.com/viewstats/inloopo"
                    target="_blank"
                    class="link">TradesViz</a
                  > Konto oder auf meinem <a href="https://www.youtube.com/@inloopo" target="_blank" class="link"
                    >YouTube Kanal</a
                  > mitverfolgen.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Ich habe noch Fragen. Kann ich persönlich mit dir sprechen?</a>
              <div class="content">
                <p>
                  Klar, schick mir einfach eine E-Mail an info@inloopo.com oder kontaktiere mich über Telegram unter
                  +4915736977448.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Button
      link="https://philipp-s-site-351a.thinkific.com/courses/professional-day-trading"
      text="Jetzt kaufen"
      alignClass="button--align-center"
      target="target__blank"
    />

    <!-- SCRIPTS -->
    <script src="/scripts/faq.js" defer></script>
  </div>
</MainLayout>
