---
//import layout and components
import HeroShot from "../../components/HeroShot.astro";
import MainLayout from "../../layouts/MainLayout.astro";

//import styles
import "../../styles/styles.css";
---

<MainLayout
  title="E-Book zur S&P 500 Strategie"
  description="Das E-Book zur S&P 500 Strategie, auf der die inloopo Börsenampel und Signaldienst beruht, ist bald erhältlich."
  lang="de">

  <HeroShot
  title="Das E-Book zur Strategie kommt bald"
  description="Du lernst mehr über die inloopo Strategie."
  backgroundImageClass="main-teaser__homepage"
  />


  <div class="wrapper-content-blog">
    <section>
      <h2 class="blog__heading">Für deine Wartezeit</h2>
      <p class="blog__text">
        Du kannst meiner Börsenampel folgen. Ich habe einen Telegram Channel, in dem ich meine Börsenampel und
        Markteinschätzung teile.
      </p>
      <p>
        <a class="button" target="_blank" href="https://t.me/ETFAmpel">Jetzt kostenlos beitreten</a>
      </p>
    </section>
  </div>
</MainLayout>
