@charset "utf-8";

/*
* CSS Design
* Inloopo
* Responsive Webseite
*/

/* CONTENTS
* VARIABLES
* CONFIGURATION
* LAYOUT & WRAPPER
* BASE ELEMENTS
* COMPONENTS
*/

/* ---------------------------------*\
    #VARIABLES
\* ---------------------------------*/

:root {
  --background-color: #fff;
  --dark-background-color: #253c78;
  --accent-color: #ff6b35;
  --text-color: #171614;
  --navbar-height: 80px;
}

/* ---------------------------------*\
    #CONFIGORATION
\* ---------------------------------*/

html {
  font-size: 100%;
  /*Browserstandard 16px*/
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

img {
  max-width: 100%;
  /*images responsive*/
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---------------------------------*\
    #LAYOUT
\* ---------------------------------*/

body {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background: #fff;
  overflow-x: hidden;
}

header {
  padding: 10px 3%;
  background: #fff;
  margin-bottom: 0;
}

section {
  padding: 0;
  display: block;
}

/* #Raster */

.row {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

.column {
  padding: 25px;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

/* ---------------------------------*\
    #WRAPPER
\* ---------------------------------*/

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* ---------------------------------*\
    #FONTS
\* ---------------------------------*/

/* Cera Pro */
/* 
@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Light.otf") format('opentype'), url("/fonts/Cera Pro Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Regular Italic.otf") format('opentype'), url("/fonts/Cera Pro Regular Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Bold.otf") format('opentype'), url("/fonts/Cera Pro Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Black.otf") format('opentype'), url("/fonts/Cera Pro Black.ttf") format('truetype');
}

*/

@font-face {
  font-family: 'Cera Pro';
  src: url('/fonts/Cera Pro Medium.otf') format('opentype')
    url('/fonts/Cera Pro Medium.ttf') format('truetype');
}

/* Quattrocento */
/* @font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-Italic.ttf) format('truetype');
} */

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('/fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

/* ---------------------------------*\
    #BASE ELEMENTS
\* ---------------------------------*/
/* #Headings */

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 68px;
  font-size: 4.25rem;
  margin-bottom: 15px;
  line-height: 1.2;
  margin-top: 120px;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  text-align: left;
  margin-bottom: 25px;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 4px;
}

p {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 12px;
  margin-top: 12px;
}

.heading-two--bigger {
  font-size: 62px;
  font-size: 3.875rem;
  line-height: 1.2;
}

.p--bigger {
  font-size: 24px;
  line-height: 1.5;
}

/* ---------------------------------*\
    #NAVIGATION
\* ---------------------------------*/

.logo {
  padding-left: 50px;
  padding-top: 10px;
}

header nav {
  height: var(--navbar-height);
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
  box-shadow: 1px 1px 4px #d2d2d2;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav li {
  height: 100%;
  text-align: center;
  position: relative;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
  padding: 20px;
}

nav a:hover {
  color: #ff6b35;
}

nav ul a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px;
  color: var(--text-color);
}

.toggle-button {
  width: 35px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background: #171614;
  border-radius: 4px;
}

nav input[type='checkbox'] {
  display: none;
}

.nav__lang {
  color: #fff;
  background-color: #ff6b35;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
}

.nav__lang:hover {
  cursor: pointer;
  color: #fff;
}

.toggle-button span.bar {
  transition: transform 200ms linear, opacity 100ms linear;
}

.toggle-button span.bar:nth-child(1) {
  transform: translateY(0) rotate(0deg);
}

.toggle-button span.bar:nth-child(2) {
  opacity: 1;
}

.toggle-button span.bar:nth-child(3) {
  transform: translateY() rotate(0deg);
}

#toggle-button:checked ~ .toggle-button span.bar:nth-child(1) {
  transform: translateY(10.5px) rotate(135deg);
}

#toggle-button:checked ~ .toggle-button span.bar:nth-child(2) {
  opacity: 0;
}

#toggle-button:checked ~ .toggle-button span.bar:nth-child(3) {
  transform: translateY(-10.5px) rotate(-135deg);
}

/* ---------------------------------*\
    #BREADCRUMBS
\* ---------------------------------*/

/* ---------------------------------*\
    #COMPONENTS
\* ---------------------------------*/
/* #Button */

.button {
  color: #fff;
  background: #ff6b35;
  border: 2px solid #ff6b35;
  padding: 15px 20px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: bold;
}

.button__img {
  margin-right: 10px;
}

.button:hover {
  background: #fff;
  color: #ff6b35;
  border: 2px solid #ff6b35;
}

/* #Links */

.link {
  color: #ff6b35;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #ff6b35;
  padding-bottom: 4px;
}

.link__blog {
  text-decoration: none;
  color: #171614;
}

.link__blog:hover {
  cursor: pointer;
}

/* #Teaser */

.main-teaser {
  width: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-teaser__heading {
  color: #fff;
  width: 45%;
  margin-left: 10%;
  margin-top: 160px;
}

.main-teaser__text {
  color: #fff;
  width: 40%;
  margin-left: 10%;
  padding-bottom: 10%;
  margin-bottom: 0;
}

.mobile__below-header {
  display: none;
}

/* #Teaser #Background Image */

.main-teaser__homepage {
  background-image: url('/images/image-teaser-01.svg');
  background-position: center;
  padding-top: 1%;
  margin-bottom: 120px;
}

/* #Colored Box #Box #Values */

/* #Circle */

.circle {
  border: 6px solid var(--accent-color);
  border-radius: 50%;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 0 60px;
}

.circle__heading {
  text-align: center;
}

/* #Animations Icons Clock */

/* TEST
.animation--up {
    animation: move-up 1s ease-in;
}

@keyframes move-up {
0% {transform: translateY(100%)}
100% {transform: translateY(0)}
}

.animation--draw {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: draw 3s forwards;
}

@keyframes draw {
    to {stroke-dashoffset: 0;}
    0% {transform: rotate(0deg);}
   100% {transform: rotate(360deg);}
}

*/

.icon__circle {
  border: 6px solid var(--accent-color);
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.icon__circle {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.icon__circle img {
  margin: auto;
}

/* #Columns */

.column__col {
  padding: 50px;
}

.column__subheading {
  text-align: center;
  margin-top: 20px;
}

.column__text {
  text-align: center;
}

.column__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* #Columns mit Foto und Text */

/* #Icons Animation */

.icon__circle {
  animation: draw 3s ease-in-out 4ms forwards;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* #Secondary Teaser */

.secondary-teaser {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #fff;
}

.secondary-teaser__image--philipp {
  background-image: url('/images/image-teaser-philipp.jpg');
  background-position: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.secondary-teaser__heading {
  width: 40%;
  margin: 90px 0 10px 90px;
}

.secondary-teaser__quote {
  margin: 40px 0 90px 90px;
  font-size: 24px;
  width: 40%;
}

/* #Box #Problems-Solutions */

/* #Blockqoute #Quote */

/* #Box #Card #Prices & Plans */

/* #Table */

/* #Lists Mobile */

/* #Lists */

/* #FAQ */

/* #Blog */
.blog-section .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.blog-section .row {
  margin-bottom: 0;
}

.blog__details {
  padding: 8%;
}

/* #Feedback */

/* #Article */

/* #Slider */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* #TOC */

@keyframes fadeEffect {
  /* from 0 to full opacity */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* #Reading Progress Bar */

/* #Icon */

/* #Share Buttons */

/* ---------------------------------*\
    #RIGHTS for English Website
\* ---------------------------------*/

/* ---------------------------------*\
        #FOOTER
\* ---------------------------------*/

.site-footer {
  background: var(--dark-background-color);
  padding: 90px 0;
  width: 100%;
  float: left;
  margin-top: 90px;
}

.site-footer__link--center {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.site-footer__link--center:hover {
  color: var(--accent-color);
}

.site-footer__text--center {
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}

.site-footer__text {
  color: #fff;
  margin-bottom: 25px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7;
  padding-left: 25px;
  padding-right: 25px;
}

.site-footer__text--legal {
  padding-top: 60px;
}

.site-footer__heading {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

/* Media Queries * * * * * * * * */
@media only screen and (min-width: 1200px) and (max-width: 1920px) {
}

@media only screen and (min-width: 760px) and (max-width: 979px) {
  /* ---------------------------------*\
        #LAYOUT
    \* ---------------------------------*/

  .main-teaser {
    margin-top: 30px;
  }

  .wrapper-content {
    padding: 0 24px;
  }

  .logo {
    padding: 0;
    width: 120px;
    margin-left: 40px;
    margin-top: 10px;
  }

  /* ---------------------------------*\
        #NAVIGATION
    \* ---------------------------------*/

  .toggle-button {
    display: flex;
  }

  nav {
    height: 70px;
  }

  nav ul {
    height: min-content;
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top: 70px;
  }

  nav li {
    height: min-content;
    width: 100%;
    padding: 0;
  }

  nav ul a {
    padding: 30px 0;
  }

  nav li {
    margin-left: 0;
  }

  #toggle-button:checked ~ ul {
    display: block;
  }

  /* ---------------------------------*\
        #HEADINGS 
    \* ---------------------------------*/

  h1 {
    font-size: 48px;
    margin-top: 0;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  .heading-two--bigger {
    font-size: 48px;
  }

  /* ---------------------------------*\
        #BUTTON #LINKS
    \* ---------------------------------*/

  /* ---------------------------------*\
        #PROBLEMS-SOLUTIONS #BOX
    \* ---------------------------------*/

  /* ---------------------------------*\
        #TEASER-HOMEPAGE
    \* ---------------------------------*/

  .main-teaser__text,
  .main-teaser__heading {
    width: 70%;
  }

  .mobile__below-header {
    display: none;
  }

  .circle {
    margin-left: auto;
    margin-right: auto;
  }

  /* ---------------------------------*\
        #SECONDARY #TEASER
    \* ---------------------------------*/

  .secondary-teaser__heading,
  .secondary-teaser__quote {
    width: 55%;
  }

  /* ---------------------------------*\
        #TEASER BLOG
    \* ---------------------------------*/

  /* ---------------------------------*\
        #FAQ
    \* ---------------------------------*/

  /* ---------------------------------*\
        #VALUES
    \* ---------------------------------*/

  /* ---------------------------------*\
            #BLOG #ARTICLE
    \* ---------------------------------*/

  /* ---------------------------------*\
        #TOC
    \* ---------------------------------*/

  /* ---------------------------------*\
        #TABLE
    \* ---------------------------------*/

  /* ---------------------------------*\
        #COLUMNS
    \* ---------------------------------*/

  /* ---------------------------------*\
        #RASTER
    \* ---------------------------------*/

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
  }

  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  /* ---------------------------------*\
        #TEXT-LEGAL
    \* ---------------------------------*/

  /* ---------------------------------*\
        #TOOLS
    \* ---------------------------------*/
}

@media only screen and (max-width: 759px) {
  /* ---------------------------------*\
        #LAYOUT
    \* ---------------------------------*/
  html {
    scroll-padding-top: 160px;
  }

  header {
    padding: 0;
  }

  .logo {
    padding: 0;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .logo:hover {
    border-bottom: none;
    cursor: pointer;
  }

  .toggle-button {
    display: flex;
  }

  nav {
    height: 70px;
  }

  nav ul {
    height: min-content;
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top: 70px;
  }

  nav li {
    height: min-content;
    width: 100%;
    padding: 0;
  }

  nav ul a {
    padding: 30px 0;
  }

  nav li {
    margin-left: 0;
  }

  #toggle-button:checked ~ ul {
    display: block;
  }

  /* ---------------------------------*\
        #HEADINGS
    \* ---------------------------------*/

  h1 {
    font-size: 40px;
    margin-top: 0;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  .heading-two--bigger {
    font-size: 30px;
  }

  .circle {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
    padding: 0 20px;
  }

  .circle__heading {
    font-size: 24px;
  }

  .circle__text {
    font-size: 18px;
  }

  /* ---------------------------------*\
        #BUTTONS #LINKS
    \* ---------------------------------*/

  .button {
    margin-bottom: 30px;
  }

  /* ---------------------------------*\
        #TEASER-HOMEPAGE
    \* ---------------------------------*/

  .main-teaser {
    margin-top: 80px;
    padding: 60px 0;
    margin-bottom: 30px;
  }

  .main-teaser__homepage {
    background-image: url('/images/image-teaser-inloopo-mobil.svg');
  }

  .desktop__below-header {
    display: none;
  }

  .mobile__below-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .icon__circle img {
    margin: auto 0;
  }

  .icon__circle {
    width: 200px;
    height: 200px;
  }

  /* ---------------------------------*\
        #TEASER-SUBPAGES
    \* ---------------------------------*/

  .main-teaser__text {
    width: 80%;
  }

  .main-teaser__heading {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }

  .secondary-teaser__heading {
    width: 100%;
  }

  /* #FAQ */

  /* ---------------------------------*\
        #TABLE
    \* ---------------------------------*/

  /* ---------------------------------*\
        #VALUES
    \* ---------------------------------*/

  /* ---------------------------------*\
        #CONTENT #BOX PROBLEMS-SOLUTIONS
    \* ---------------------------------*/

  /* ---------------------------------*\
        #LIST
    \* ---------------------------------*/

  /* ---------------------------------*\
        #COLUMN
    \* ---------------------------------*/

  .column__col {
    padding: 25px;
  }

  /* ---------------------------------*\
        #SECONDARY TEASER 
    \* ---------------------------------*/

  .secondary-teaser {
    margin-top: 0;
  }

  .secondary-teaser__heading,
  .secondary-teaser__quote {
    margin-left: 25px;
    width: 60%;
  }

  /* ---------------------------------*\
        #LEGAL 
    \* ---------------------------------*/

  /* ---------------------------------*\
        #QUOTE 
    \* ---------------------------------*/

  /* ---------------------------------*\
        #LIST #TOOLS 
    \* ---------------------------------*/

  /* ---------------------------------*\
            #BREADCRUMBS
    \* ---------------------------------*/

  /* ---------------------------------*\
        #BLOG #ARTICLE
    \* ---------------------------------*/

  /* ---------------------------------*\
        #FEEDBACK
    \* ---------------------------------*/

  /* ---------------------------------*\
    #TOC
\* ---------------------------------*/

  /*
#toc__toggle-button:checked ~ ol {
    display: block;
}

#toc__toggle-button:checked ~ .toc__toggle-button {
    transform: translateY(-116px) translateX(228px) rotate(135deg);
}

.toc__toggle-button {
    display: inline-block;
    transform: translateY(-17px) translateX(90px);
}

.toc__heading--mobile {
    background-color: #fff;
    padding: 10px 10px 10px 0;
    width: 100%;
    font-size: 16px;
}

.toc ol {
    display: none;
}


.toc {
    display: none;
    padding-top: 80px;
    width: 100%;
}

  .toc__nav {
    background-color: #fff;
    padding-top: 10px;  
    margin-top: -40px;
  }

*/

  /* ---------------------------------*\
        #SHARE BUTTON 
\* ---------------------------------*/

  /* ---------------------------------*\
        #RASTER 
    \* ---------------------------------*/

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }
}

/* ---------------------------------*\
    # Utility Classes
\* ---------------------------------*/
