---
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import Software from "../../components/Software.astro";
import QualiCard from "../../components/QualiCard.astro";
import BenefitCard from "../../components/BenefitCard.astro";
import BackgroundImage from "../../components/BackgroundImage.astro";
import ProductCard from "../../components/ProductCard.astro";
import BlogCard from "../../components/BlogCard.astro";
import "../../styles/styles.css";
---

<MainLayout
  title="Lerne dein Geld zu vermehren"
  description="Du möchtest dein Geld anlegen: Selbst und ohne Bank. Oder lieber traden? Nur weißt du nicht, wie. Ich helfe dir dabei, die richtigen Entscheidungen zum passendsten Zeitpunkt zu treffen."
  opengraph={{
    url: "https://www.inloopo.com/de/",
    image: "https://www.inloopo.com/images/image-teaser-homepage-og.jpg",
    type: "website",
    description: "Wann und wie traden oder investieren? Lerne mit mir die richtigen Entscheidungen zu treffen.",
    locale: "de",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/">
  <!-- Teaser -->
  <HeroShot
    title="Lerne Trading und Investieren"
    description="Verwirkliche deine finanziellen Träume, indem du eine vernünftige Trading Strategie lernst und eine stabile Rendite erzielst."
    button={{
      href: "https://tidycal.com/inloopo/30min-meeting-mit-philipp",
      target: "_blank",
      text: "Vereinbare ein kostenloses Coaching mit mir!",
    }}
    backgroundImageClass="main-teaser__homepage"
    withIcon={false}
  />

  <!-- BENEFITS -->
  <BenefitCard
    title="Wähle eine Strategie, die zu dir passt"
    description="Ich selbst trade drei Strategien mit unterschiedlichem Zeitaufwand, Risiko und Rendite."
    icon={{
      src: "/images/light-bulb.svg",
      alt: "Glühlampe Icon",
      width: "280",
    }}
    columnReverseClass="img-left"
  />

  <!-- PRODUCTS -->
  <section>
    <div class="wrapper">
      <div class="row">
        <ProductCard
          icon={{
            src: "/images/pulse-circle.svg",
            alt: "ein Bär und Stier",
          }}
          type="Daytrading Kurs"
          title="Daytrading 1-2 Std/Tag"
          description="In diesem Kurs lernst du professionelles Daytrading mit Futures. Hier lernst du, wie du Fremdwährungskonten kapitalisierst und konstante Gewinne erzielst."
          link={{
            href: "day-trading-kurs/",
            text: "Zum Kurs",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border"
        />
        <ProductCard
          icon={{
            src: "/images/star-circle.svg",
            alt: "ein Ampel",
          }}
          type="1-zu-1 Coaching"
          title="Swing-Trading 30 min/Tag"
          description="Im 1-zu-1 Coaching bringe ich dir meine Futures Swing-Trading Strategie bei. Natürlich kannst du auch individuell viel mehr über Trading und erfolgreiches Investieren lernen."
          link={{
            href: "coaching/",
            text: "Zum Coachingprogramm",
          }}
          backgroundColorClass="darker-color"
          linkColorClass="darker-border"
        />
        <ProductCard
          icon={{
            src: "/images/traffic-light-circle.svg",
            alt: "eine Ampel",
          }}
          type="Börsenampelkurs + Strategie"
          title="ETF-Strategie 30 min/Woche"
          description="Auch mit ETFs lässt sich eine konstante Rendite erzielen. Hier lernst du die Börsen selbst einzuschätzen und wann die richtige Zeit ist, in ETFs zu investieren."
          link={{
            href: "boersenampelkurs/",
            text: "Zum Kurs",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border">
          <p>
            <a class="link dark-border bolder" href="/de/investieren/">Zum Signaldienst</a>
          </p>
        </ProductCard>
      </div>
    </div>
  </section>

  <!-- BACKGROUND IMAGE WITH TEXT -->
  <BackgroundImage
    title="Ich bin Philipp."
    description="Seit 2008 beschäftige ich mich damit, wie ich mein Geld mit wenig Zeitaufwand sicher und gewinnbringend an den Börsen anlegen kann. Was mich antreibt? Es gibt Strategien, die dich vor großen Crashs schützen. Nur wissen das viele nicht."
    button={{
      href: "https://www.inloopo.com/de/ueber-mich/",
      text: "Mehr über mich",
    }}
    backgroundImageClass="secondary-teaser__image--philipp"
    textColorClass="light"
  />

  <!-- SOFTWARE AND TOOLS -->
  <section>
    <div class="wrapper-content">
      <Software heading="Tools, mit denen ich arbeite" />
    </div>
  </section>

  <!-- QUALIFICATIONS -->
  <div class="wrapper-content">
    <div class="row">
      <QualiCard
        title="Börsenerfahrung"
        description="Du suchst nach einem erfahrenen Trader. Ich habe anfangs CFD's, später Aktien, Optionsscheine auf Trendaktien und Optionen gehandelt. Heute handel ich Futures nach COT Daten, Saisonalität und Wetteranalyse und investiere strategisch auf Basis der Börsenampel mit der inloopo Strategie."
        icon={{
          src: "/images/books.svg",
          alt: "Buch Icon",
        }}
      />
      <QualiCard
        title="Nachweisbarer Erfolg"
        description="Du brauchst Sicherheit? Ich habe mit der Futures Swing Trading Strategie am Global Cup Championship of Futures Trading™ 2021-2022 teilgenommen. Das ist die Trading Weltmeisterschaft. Mit <a href='/images/wcc.pdf' target='_blank' title='PDF Nachweis' class='link'>64,1 % Gewinn pro Jahr</a> habe ich den 5. Platz belegt. Dieses Jahr nehme ich erneut teil."
        icon={{
          src: "/images/hat.svg",
          alt: "Hut Icon",
        }}
      />
      <QualiCard
        title="Analytische Denkweise"
        description="Du möchtest einem strategisch denkenden Menschen folgen. Ich mache meine Analysen präzise und sorgfältig. Meine Entscheidungen treffe ich rational und auf Basis von Daten."
        icon={{
          src: "/images/data.svg",
          alt: "Daten und Charts Icon",
        }}
      />
    </div>
  </div>

  <!-- BLOG ARTICLE -->
  <div class="wrapper-content">
    <section class="blog-section">
      <div class="row">
        <BlogCard
          title="S&P 500 Prognose und langfristiger Ausblick"
          description="Hier findest du jede Woche Sonntag meine aktuelle SP500 Prognose mit detaillierter Analyse."
          link="/de/swing-trading/sp500-prognose/"
          date="Wöchentlich aktualisiert"
          image={{
            src: "/images/sp-500-thumbnail.svg",
            alt: "Index illustriert",
          }}
        />

        <BlogCard
          title="Swing Trading"
          description="Die entspannte Art des Tradings mit Outperformance"
          link="/de/swing-trading/swing-trading-lernen/"
          date="15.6.2024"
          image={{
            src: "http://images.ctfassets.net/wejpe8yzflc3/6Fn7XSXoHINkplfPog4Wnd/d47839ea9c2a34cde0845a70dd2f9dfc/swing-trading-thumbnail-webp.webp",
            alt: "In der Hängematte unter Palmen",
          }}
        />

        <BlogCard
          title="Daytrading lernen - Du kannst es wenn du 120% motiviert bist"
          description="Im Daytrading werden Aktien oder Futures am selben Tag gekauft und verkauft, um von kurzfristigen Kursbewegungen zu profitieren. Du kannst es lernen."
          link="/de/daytrading/daytrading-lernen/"
          date="03.09.2023"
          image={{
            src: "/images/daytrading-lernen-thumbnail.svg",
            alt: "Day Trading als Grafik visualisiert",
          }}
        />
      </div>
      <p><a href="/de/blog/" class="button">Lies mehr im Blog</a></p>
    </section>
  </div>
</MainLayout>

<style>
  .link:not(:hover) {
    border-bottom: none;
  }
</style>
