---
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import Software from "../../components/Software.astro";
import QualiCard from "../../components/QualiCard.astro";
import BenefitCard from "../../components/BenefitCard.astro";
import BackgroundImage from "../../components/BackgroundImage.astro";
import ProductCard from "../../components/ProductCard.astro";
import BlogCard from "../../components/BlogCard.astro";
import "../../styles/styles.css";
---

<MainLayout
  title="Mit wenig Aufwand Geld vermehren"
  description="Du möchtest dein Geld anlegen: Selbst und ohne Bank. Nur weißt du nicht, wie. Ich helfe dir dabei, im richtigen Moment investiert zu sein."
  opengraph={{
    url: "https://www.inloopo.com/de/",
    image: "https://www.inloopo.com/images/image-teaser-homepage-og.jpg",
    type: "website",
    description:
      "Du weißt nicht wann du investieren sollst. Ich helfe dir dabei, die richtige Entscheidung zu treffen.",
    locale: "de",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/">
  <!-- Teaser -->
  <HeroShot
    title="Day trading. Aber wie?"
    description="In meinem neuen Daytrading Projekt, trade ich 1 bis 2 Stunden und mache 100$ Gewinn pro Tag. Erfahre mehr darüber in meinem nächsten freien Webinar."
    button={{
      text: "Komm zum kostenlosen Webinar",
      href: "https://inloopo.com/de/daytrading-webinar",
      target: "_blank",
    }}
    backgroundImageClass="main-teaser__homepage"
    withIcon={false}
  />

  <!-- BENEFITS -->
  <BenefitCard
    title="Vermehre dein Geld mit einer Strategie"
    description="Mit meinem Angebot investierst du strategisch. Damit legst du dein Geld nicht nur erfolgreich an, sondern schlägst den Markt."
    icon={{
      src: "/images/clock.svg",
      alt: "Uhr Icon",
      width: "280",
    }}
    columnReverseClass="img-left"
  />
  <BenefitCard
    title="Lerne nur das nötigste, um profitabel zu sein"
    description="Schluss mit Blabla. In meinen Produkten lernst du das, was du wirklich brauchst, um meine Strategien umzusetzen."
    icon={{
      src: "/images/light-bulb.svg",
      alt: "Glühbirne Icon",
      width: "280",
    }}
  />
  <BenefitCard
    title="Wähle eine Strategie, die zu dir passt"
    description="Ich biete dir vier Strategien an. Sie unterscheiden sich im Zeitaufwand, Risiko und in der Rendite."
    icon={{
      src: "/images/strategie-dreieck.svg",
      alt: "Ein Dreieck mit allen Strategien von inloopo",
      width: "440",
    }}
  />

  <!-- PRODUCTS -->
  <section>
    <div class="wrapper">
      <div class="row">
        <ProductCard
        icon={{
          src:'/images/star-circle.svg',
          alt:'ein Ampel'
        }}
        type="Individuell"
          title="1-zu-1 Coaching"
          description="Ich gestalte das Coaching nach deinen Interessen, Fähigkeiten und Zielvorgaben."
          link={{
            href: "coaching/",
            text: "Geh zu Coachingprogramm",
          }}
          backgroundColorClass="darker-color"
          linkColorClass="darker-border"
        />
        <ProductCard
        icon={{
          src:'/images/traffic-light-circle.svg',
          alt:'ein Ampel'
        }}
        type="Investieren"
          title="Börsenampelkurs"
          description="In diesem Kurs lernst du fundamentale Analysen der Märkte durchzuführen und wirst Vertraut mit einer einfachen ETF Strategie."
          link={{
            href: "boersenampelkurs/",
            text: "Geh zum Kurs",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border"
        />
        <ProductCard
        icon={{
          src:'/images/direction-sign-circle.svg',
          alt:'ein Richtungsschild'
        }}
        type="Investieren"
          title="ETF Signaldienst"
          description="In diesem Kurs lernst du fundamentale Analysen der Märkte durchzuführen und wirst Vertraut mit einer einfachen ETF Strategie."
          link={{
            href: "investieren/",
            text: "Geh zum Kurs",
          }}
          backgroundColorClass="dark-color"
          linkColorClass="dark-border"
        />
        <ProductCard
        icon={{
          src:'/images/beach-circle.svg',
          alt:'eine Strandliege'
        }}
        type="Investieren"
          title="Wikifolio"
          description="Du investierst in ein Account, der von mir für dich gemanagt wird."
          link={{
            href: "wikifolio/",
            text: "Geh zum Kurs",
          }}
         backgroundColorClass="dark-color"
         linkColorClass="dark-border"
        />
        <ProductCard
        icon={{
          src:'/images/pulse-circle.svg',
          alt:'ein Bär und Stier'
        }}
        type="Trading"
          title="Daytrading Kurs"
          description="In diesem Kurs lernst Daytrading."
          link={{
            href: "day-trading-kurs/",
            text: "Geh zum Kurs",
          }}
          backgroundColorClass="accent-color"
          linkColorClass="light-text-color"
        />
      </div>
    </div>
  </section>


  <!-- BACKGROUND IMAGE WITH TEXT -->
  <BackgroundImage
    title="Ich bin Philipp."
    description="Seit 2008 beschäftige ich mich damit, wie ich mein Geld mit wenig Zeitaufwand sicher und gewinnbringend an den Börsen anlegen kann. Was mich antreibt? Es gibt Strategien, die dich vor großen Crashs schützen. Nur wissen das viele nicht."
    button={{
      href: "https://www.inloopo.com/de/ueber-mich/",
      text: "Mehr über mich",
    }}
    backgroundImageClass="secondary-teaser__image--philipp"
    textColorClass="light"
  />

  <!-- SOFTWARE AND TOOLS -->
  <section>
    <div class="wrapper-content">
      <Software heading="Tools, mit denen ich arbeite" />
    </div>
  </section>

  <!-- QUALIFICATIONS -->
  <div class="wrapper-content">
    <div class="row">
      <QualiCard
        title="Börsenerfahrung"
        description="Du suchst nach einem erfahrenen Trader. Ich habe anfangs CFD's, später Aktien, Optionsscheine auf Trendaktien und Optionen gehandelt. Heute handel ich Futures nach COT Daten, Saisonalität und Wetteranalyse und investiere strategisch auf Basis der Börsenampel mit der inloopo Strategie."
        icon={{
          src: "/images/books.svg",
          alt: "Buch Icon",
        }}
      />
      <QualiCard
        title="Nachweisbarer Erfolg"
        description="Du brauchst Sicherheit? Ich habe mit der Futures Swing Trading Strategie am Global Cup Championship of Futures Trading™ 2021-2022 teilgenommen. Das ist die Trading Weltmeisterschaft. Mit <a href='/images/wcc.pdf' target='_blank' title='PDF Nachweis' class='link'>64,1 % Gewinn pro Jahr</a> habe ich den 5. Platz belegt. Dieses Jahr nehme ich erneut teil."
        icon={{
          src: "/images/hat.svg",
          alt: "Hut Icon",
        }}
      />
      <QualiCard
        title="Analytische Denkweise"
        description="Du möchtest einem strategisch denkenden Menschen folgen. Ich mache meine Analysen präzise und sorgfältig. Meine Entscheidungen treffe ich rational und auf Basis von Daten."
        icon={{
          src: "/images/data.svg",
          alt: "Daten und Charts Icon",
        }}
      />
    </div>
  </div>

  
  <!-- BLOG ARTICLE -->
  <div class="wrapper-content">
    <section class="blog-section">
      <div class="row">
        <BlogCard
          title="S&P 500 Prognose und langfristiger Ausblick"
          description="Hier findest du jede Woche Sonntag meine aktuelle SP500 Prognose mit detaillierter Analyse."
          link="swing-trading/sp500-prognose/"
          date="Wöchentlich aktualisiert"
          image={{
            src: "/images/sp-500-thumbnail.svg",
            alt: "Index illustriert",
          }}
        />

        <BlogCard
          title="EURO Dollar Prognose"
          description="Hier findest du jede Woche Mittwoch meine aktuelle EURO/US-Dollar Prognose mit detaillierter Analyse."
          link="finanzwissen/ordertypen/"
          date="Wöchentlich aktualisiert"
          image={{
            src: "/images/sp-500-thumbnail.svg",
            alt: "Index illustriert",
          }}
        />

        <BlogCard
          title="Daytrading lernen - Du kannst es wenn du 120% motiviert bist"
          description="Im Daytrading werden Aktien oder Futures am selben Tag gekauft und verkauft, um von kurzfristigen Kursbewegungen zu profitieren. Du kannst es lernen."
          link="daytrading/daytrading-lernen/"
          date="03.09.2023"
          image={{
            src: "/images/daytrading-lernen-thumbnail.svg",
            alt: "Day Trading als Grafik visualisiert",
          }}
        />
      </div>
      <p><a href="/de/blog/" class="button">Lies mehr im Blog</a></p>
    </section>
  </div>
</MainLayout>
