@charset "utf-8";

/*
* CSS Design
* Inloopo
* Responsive Webseite
*/

/* CONTENTS
* VARIABLES
* CONFIGURATION
* LAYOUT & WRAPPER
* BASE ELEMENTS
* COMPONENTS
*/






/* ---------------------------------*\
    #VARIABLES
\* ---------------------------------*/

:root {
  --background-color: #fff;
  --dark-background-color: #253C78;
  --accent-color: #ff6b35;
  --text-color: #171614;
  --navbar-height: 80px;
}




/* ---------------------------------*\
    #CONFIGORATION
\* ---------------------------------*/

html {
  font-size: 100%;
  /*Browserstandard 16px*/
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


img {
  max-width: 100%;
  /*images responsive*/
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* ---------------------------------*\
    #LAYOUT
\* ---------------------------------*/

body {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background: #fff;
  overflow-x: hidden;
}


header {
  padding: 10px 3%;
  background: #fff;
  margin-bottom: 0;
}


section {
  padding: 0;
  display: block;
}



/* #Raster */

.row {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

.column {
  padding: 25px;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.fourth {
  width: 25%;
}





/* ---------------------------------*\
    #WRAPPER
\* ---------------------------------*/

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}


/* ---------------------------------*\
    #FONTS
\* ---------------------------------*/


/* Cera Pro */
/* 
@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Light.otf") format('opentype'), url("/fonts/Cera Pro Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Regular Italic.otf") format('opentype'), url("/fonts/Cera Pro Regular Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Bold.otf") format('opentype'), url("/fonts/Cera Pro Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Black.otf") format('opentype'), url("/fonts/Cera Pro Black.ttf") format('truetype');
}

*/

@font-face {
  font-family: 'Cera Pro';
  src: url("/fonts/Cera Pro Medium.otf") format('opentype') url("/fonts/Cera Pro Medium.ttf") format('truetype');
}

/* Quattrocento */
/* @font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/QuattrocentoSans-Italic.ttf) format('truetype');
} */

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("/fonts/QuattrocentoSans-Regular.ttf") format('truetype');
}



/* ---------------------------------*\
    #BASE ELEMENTS
\* ---------------------------------*/
/* #Headings */

h1,
h2,
h3 {
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 68px;
  font-size: 4.25rem;
  margin-bottom: 15px;
  line-height: 1.2;
  margin-top: 120px;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  text-align: left;
  margin-bottom: 25px;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 16px;
}

p {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 12px;
  margin-top: 12px;
}

.p--bigger {
  font-size: 24px;
  line-height: 1.5;
}






/* ---------------------------------*\
    #NAVIGATION
\* ---------------------------------*/

.logo {
  padding-left: 50px;
  padding-top: 10px;
}

header nav {
  height: var(--navbar-height);
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
  box-shadow: 1px 1px 4px #d2d2d2;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav li {
  height: 100%;
  text-align: center;
  position: relative;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: 'Quattrocento', Arial, Helvetica, sans-serif;
  padding: 20px;

}

nav a:hover {
  color: #ff6b35;

}

nav ul a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px;
  color: var(--text-color);
}

.toggle-button {
  width: 35px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background: #171614;
  border-radius: 4px;
}

nav input[type="checkbox"] {
  display: none;
}

.nav--active {
  color: #ff6b35;
}

.nav__lang {
  color: #fff;
  background-color: #ff6b35;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
}

.nav__lang:hover {
  cursor: pointer;
  color: #fff;
}


.toggle-button span.bar {
  transition: transform 200ms linear, opacity 100ms linear;
}

.toggle-button span.bar:nth-child(1) {
  transform: translateY(0) rotate(0deg);
}

.toggle-button span.bar:nth-child(2) {
  opacity: 1;
}

.toggle-button span.bar:nth-child(3) {
  transform: translateY() rotate(0deg);
}

#toggle-button:checked~.toggle-button span.bar:nth-child(1) {
  transform: translateY(10.5px) rotate(135deg);
}

#toggle-button:checked~.toggle-button span.bar:nth-child(2) {
  opacity: 0;
}

#toggle-button:checked~.toggle-button span.bar:nth-child(3) {
  transform: translateY(-10.5px) rotate(-135deg);
}






/* ---------------------------------*\
    #BREADCRUMBS
\* ---------------------------------*/



/* ---------------------------------*\
    #COMPONENTS
\* ---------------------------------*/
/* #Button */

.button {
  color: #fff;
  background: #ff6b35;
  border: 2px solid #ff6b35;
  padding: 15px 20px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: bold;
}


.button-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

}

.button:hover {
  background: #fff;
  color: #ff6b35;
  border: 2px solid #ff6b35;
}





/* #Links */

.link {
  color: #ff6b35;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #ff6b35;
  padding-bottom: 4px;
}





/* #Teaser */

.main-teaser {
  width: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-teaser__heading {
  color: #fff;
  width: 45%;
  margin-left: 10%;
  margin-top: 160px;
}


.main-teaser__text {
  color: #fff;
  width: 40%;
  margin-left: 10%;
  padding-bottom: 10%;
  margin-bottom: 0;
}




/* #Teaser #Background Image */

.main-teaser__page-investieren {
  background-image: url('/images/image-teaser-investieren.svg');
  background-position: center;
  padding-top: 1%;
}








/* #Colored Box #Box #Values */




/* #Circle */





/* #Animations Icons Clock */

/* TEST
.animation--up {
    animation: move-up 1s ease-in;
}

@keyframes move-up {
0% {transform: translateY(100%)}
100% {transform: translateY(0)}
}

.animation--draw {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: draw 3s forwards;
}

@keyframes draw {
    to {stroke-dashoffset: 0;}
    0% {transform: rotate(0deg);}
   100% {transform: rotate(360deg);}
}

*/




/* #Columns */

.column__col {
  padding: 50px;
}

.column--no-background {
  background: none;
  margin-bottom: 90px;
}

.column__heading {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.column__subheading {
  text-align: center;
  margin-top: 20px;
}

.column__text {
  text-align: center;
}

.column__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}





/* #Columns mit Foto und Text */




/* #Icons Animation */

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}




/* #Secondary Teaser */

.secondary-teaser {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #fff;
}

.secondary-teaser__image-at-work {
  background-image: url('/images/image-at-work.jpg');
  color: var(--text-color);
  padding: 30px 0;
}

.secondary-teaser__heading {
  width: 40%;
  margin: 90px 0 10px 90px;
}

.secondary-teaser__quote {
  margin: 40px 0 90px 90px;
  font-size: 24px;
  width: 40%;
}




/* #Box #Problems-Solutions */

.box--grey-background {
  background: #f5f5f5;
  margin-bottom: 120px;
  margin-top: 0;
}

.box__container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.box__container:first-child {
  margin-right: 50px;
}

.row.box--grey-background {
  padding: 60px;
}

.box__heading {
  padding-left: 15px;
  padding-top: 20px;
}

.box__icon,
.box__heading {
  display: inline;
}

.box--grey-background .half {
  padding: 0;
}

.box__ul {
  list-style: none;
  margin-bottom: 20px;

}

.box__li {
  margin-bottom: 5px;
}

.box__li img {
  padding-right: 10px;
  padding-top: 15px;
  display: inline;
}



/* #Blockqoute #Quote */

.quote {
  font-size: 28px;
  color: #242325;
  text-align: center;
  margin-bottom: 220px;
  padding: 0 220px;
}

.quote:before {
  content: '"';
  color: #ff6b35;
  font-size: 100px;
  display: block;
  margin-top: 0;
}

.quote:after {
  font-size: 16px;
  color: #242325;
  display: block;
  margin-top: 12px;
}

.quote__page-sp500-strategie:after {
  content: "André Kostolany";
}




/* #Box #Card #Prices & Plans */


.box__subheading--center {
  text-align: center;
}

.box__text--bigger {
  font-size: 24px;
  font-family: 'Quattroento Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 8px 0;
}

.box__heading--white {
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 0 25px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.box__column {
  background: #fff;
  padding: 60px;
  border: 20px solid var(--dark-background-color);
  display: flex;
  flex-direction: column;
}

.box__cta {
  margin-top: auto;
  margin-bottom: 0;
}

.box--blue-background {
  background: var(--dark-background-color);
  padding-bottom: 90px;
  margin-bottom: -90px;
}

.box__table {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}





/* #Table */

.responsive-table {
  overflow-x: auto;
}


table,
thead,
th,
tr,
tbody {
  border-collapse: collapse;
}

thead {
  text-align: left;
}

thead,
tbody {
  background: #fff;
}

th {
  padding: 20px;
  border-bottom: 2px solid #ff6b35;
}

td {
  border-bottom: 1px solid #DCDCDC;
  padding: 25px 10px;

}






/* #Lists Mobile */







/* #Lists */




/* #FAQ */

.faq__container {
  margin: 0 auto;
  padding: 25px;
  width: 80%;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #171614;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff6b35;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 10px;
  font-size: 1rem;
  color: #171614;
  text-align: center;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  color: #171614;
}

.accordion a.active {
  color: #ff6b35;
  border-bottom: 1px solid #ff6b35;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff6b35;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.faq__heading--center {
  text-align: center;
}

.faq__table {
  color: #171614;
  text-align: center;
}

.faq__table th {
  border-bottom: 2px solid #242325;
}

.faq__table td {
  font-size: 16px;
}

.faq__table--notation {
  margin-top: 10px;
}

/* #Blog */


/* #Feedback */


/* #Article */

@media screen and (max-width: 979px) {

  .box__container:first-child {
    margin-right: 0;
  }
}



/* #Slider */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}






/* #TOC */


@keyframes fadeEffect {

  /* from 0 to full opacity */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}







/* #Reading Progress Bar */




/* #Icon */

.box__icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 12px;
}






/* #Share Buttons */


/* ---------------------------------*\
    #RIGHTS for English Website
\* ---------------------------------*/





/* ---------------------------------*\
        #FOOTER
\* ---------------------------------*/

.site-footer {
  background: var(--dark-background-color);
  padding: 90px 0;
  width: 100%;
  float: left;
  margin-top: 90px;
}

.site-footer__link--center {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.site-footer__link--center:hover {
  color: var(--accent-color);
}

.site-footer__text--center {
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}

.site-footer__text {
  color: #fff;
  margin-bottom: 25px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7;
  padding-left: 25px;
  padding-right: 25px;
}

.site-footer__text--legal {
  padding-top: 60px;
}

.site-footer__heading {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}




/* Media Queries * * * * * * * * */
@media only screen and (min-width:1200px) and (max-width:1920px) {}

@media only screen and (min-width:760px) and (max-width:979px) {

  /* ---------------------------------*\
        #LAYOUT
    \* ---------------------------------*/

  .main-teaser {
    margin-top: 30px;
  }

  .wrapper-content {
    padding: 0 24px;
  }

  .logo {
    padding: 0;
    width: 120px;
    margin-left: 40px;
    margin-top: 10px;
  }




  /* ---------------------------------*\
        #NAVIGATION
    \* ---------------------------------*/



  .toggle-button {
    display: flex;
  }

  nav {
    height: 70px;
  }

  nav ul {
    height: min-content;
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top: 70px;
  }

  nav li {
    height: min-content;
    width: 100%;
    padding: 0;
  }

  nav ul a {
    padding: 30px 0;
  }

  nav li {
    margin-left: 0;
  }

  #toggle-button:checked~ul {
    display: block;
  }


  /* ---------------------------------*\
        #HEADINGS 
    \* ---------------------------------*/

  h1 {
    font-size: 48px;
    margin-top: 0;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }




  /* ---------------------------------*\
        #BUTTON #LINKS
    \* ---------------------------------*/





  /* ---------------------------------*\
        #PROBLEMS-SOLUTIONS #BOX
    \* ---------------------------------*/

  .row.box--grey-background {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    margin-top: 0;
  }

  .box__container {
    text-align: center;
    margin-bottom: 30px;
  }

  .box__container:first-child {
    margin-bottom: 50px;
  }




  /* ---------------------------------*\
        #TEASER-HOMEPAGE
    \* ---------------------------------*/

  .main-teaser__text,
  .main-teaser__heading {
    width: 70%;
  }


  /* ---------------------------------*\
        #SECONDARY #TEASER
    \* ---------------------------------*/

  .secondary-teaser__heading,
  .secondary-teaser__quote {
    width: 55%;
  }

  .secondary-teaser__image-at-work {
    background-position: center;
  }

  /* ---------------------------------*\
        #TEASER BLOG
    \* ---------------------------------*/



  /* ---------------------------------*\
        #FAQ
    \* ---------------------------------*/

  .faq__container {
    width: 100%;
  }


  /* ---------------------------------*\
        #VALUES
    \* ---------------------------------*/



  /* ---------------------------------*\
            #BLOG #ARTICLE
    \* ---------------------------------*/



  /* ---------------------------------*\
        #TOC
    \* ---------------------------------*/

  /* ---------------------------------*\
        #TABLE
    \* ---------------------------------*/


  /* ---------------------------------*\
        #COLUMNS
    \* ---------------------------------*/





  /* ---------------------------------*\
        #RASTER
    \* ---------------------------------*/


  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
  }


  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .fourth {
    width: 50%;
  }





  /* ---------------------------------*\
        #TEXT-LEGAL
    \* ---------------------------------*/





  /* ---------------------------------*\
        #TOOLS
    \* ---------------------------------*/
}





@media only screen and (max-width:759px) {

  /* ---------------------------------*\
        #LAYOUT
    \* ---------------------------------*/
  html {
    scroll-padding-top: 160px;
  }



  header {
    padding: 0;
  }

  .logo {
    padding: 0;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .logo:hover {
    border-bottom: none;
    cursor: pointer;
  }

  .toggle-button {
    display: flex;
  }

  nav {
    height: 70px;
  }

  nav ul {
    height: min-content;
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top: 70px;
  }

  nav li {
    height: min-content;
    width: 100%;
    padding: 0;
  }

  nav ul a {
    padding: 30px 0;
  }

  nav li {
    margin-left: 0;
  }

  #toggle-button:checked~ul {
    display: block;
  }






  /* ---------------------------------*\
        #HEADINGS
    \* ---------------------------------*/

  h1 {
    font-size: 40px;
    margin-top: 0;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 24px;
  }



  /* ---------------------------------*\
        #BUTTONS #LINKS
    \* ---------------------------------*/

  .button {
    margin-bottom: 30px;
  }





  /* ---------------------------------*\
        #TEASER-HOMEPAGE
    \* ---------------------------------*/


  .main-teaser {
    margin-top: 80px;
    padding: 60px 0;
    margin-bottom: 30px;
  }




  /* ---------------------------------*\
        #TEASER-SUBPAGES
    \* ---------------------------------*/

  .main-teaser__text {
    width: 80%;

  }

  .main-teaser__heading {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }

  .box__column {
    padding: 40px 25px;
  }


  .main-teaser__page-investieren {
    margin-bottom: 0;
    background-position: center;
  }

  .secondary-teaser__heading {
    width: 100%;
  }



  /* #FAQ */
  .faq__container {
    width: 100%;
  }



  /* ---------------------------------*\
        #TABLE
    \* ---------------------------------*/

  .box__table {
    font-size: 16px;
  }


  /* ---------------------------------*\
        #VALUES
    \* ---------------------------------*/


  /* ---------------------------------*\
        #CONTENT #BOX PROBLEMS-SOLUTIONS
    \* ---------------------------------*/


  .row.box--grey-background {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .box__container {
    text-align: center;
    margin-bottom: 30px;
  }

  .box__container:first-child {
    margin-bottom: 50px;
  }


  .box__icon,
  .box__heading {
    display: block;
    text-align: center;
  }

  .box__heading--white {
    width: 80%;
  }


  .box--blue-background {
    padding-bottom: 160px;
  }





  /* ---------------------------------*\
        #LIST
    \* ---------------------------------*/




  /* ---------------------------------*\
        #COLUMN
    \* ---------------------------------*/

  .column__col {
    padding: 25px;
  }

  .column__heading {
    margin-bottom: 0;
    margin-top: 30px;
  }






  /* ---------------------------------*\
        #SECONDARY TEASER 
    \* ---------------------------------*/

  .secondary-teaser {
    margin-top: 0;
  }

  .secondary-teaser__heading,
  .secondary-teaser__quote {
    margin-left: 25px;
    width: 60%;
  }

  .secondary-teaser__image-at-work {
    background-image: url("/images/teaser-image-at-work-mobile.jpg");
    background-position: center;
  }





  /* ---------------------------------*\
        #LEGAL 
    \* ---------------------------------*/



  /* ---------------------------------*\
        #QUOTE 
    \* ---------------------------------*/

  .quote {
    padding: 0 25px;
    margin-bottom: 160px;
    font-size: 24px;
  }





  /* ---------------------------------*\
        #LIST #TOOLS 
    \* ---------------------------------*/

  /* ---------------------------------*\
            #BREADCRUMBS
    \* ---------------------------------*/


  /* ---------------------------------*\
        #BLOG #ARTICLE
    \* ---------------------------------*/

  /* ---------------------------------*\
        #FEEDBACK
    \* ---------------------------------*/




  /* ---------------------------------*\
    #TOC
\* ---------------------------------*/

  /*
#toc__toggle-button:checked ~ ol {
    display: block;
}

#toc__toggle-button:checked ~ .toc__toggle-button {
    transform: translateY(-116px) translateX(228px) rotate(135deg);
}

.toc__toggle-button {
    display: inline-block;
    transform: translateY(-17px) translateX(90px);
}

.toc__heading--mobile {
    background-color: #fff;
    padding: 10px 10px 10px 0;
    width: 100%;
    font-size: 16px;
}

.toc ol {
    display: none;
}


.toc {
    display: none;
    padding-top: 80px;
    width: 100%;
}

  .toc__nav {
    background-color: #fff;
    padding-top: 10px;  
    margin-top: -40px;
  }

*/



  /* ---------------------------------*\
        #SHARE BUTTON 
\* ---------------------------------*/

  /* ---------------------------------*\
        #RASTER 
    \* ---------------------------------*/

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .fourth {
    width: 100%;
  }
}


/* ---------------------------------*\
    # Utility Classes
\* ---------------------------------*/