---
import "../../styles/styles.css";
import HeroShot from "../../components/HeroShot.astro";
import Quote from "../../components/Quote.astro";
import DetailCard from "../../components/DetailCard.astro";
import ProblemCard from "../../components/ProblemCard.astro";
import BackgroundImage from "../../components/BackgroundImage.astro";
import QualiCard from "../../components/QualiCard.astro";
import PriceCard from "../../components/PriceCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="S&P 500 ETF Strategie mit Börsenampel"
  description="Du willst dein Geld investieren. Ohne viel Aufwand. Ohne Bank. Mit der inloopo Börsenampel für den S&P 500 ETF geht das."
  opengraph={{
    title: "S&P500 ETF Strategie mit Börsenampel",
    description: "Du willst dein Geld investieren. Nutze die inloopo Börsenampel für den S&P 500 ETF.",
    url: "https://www.inloopo.com/de/investieren/",
    image: "https://www.inloopo.com/images/boersenampel-og.jpg",
    type: "website",
    locale: "de",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/investieren/">
  <!-- MAIN TEASER -->
  <HeroShot
    title="Geld auf dem Konto. Und nun?"
    description="Ich zeige dir wie du mit ca. zwei Trades pro Jahr dein Geld  gewinnbringend mit Hilfe einer Börsenampel investierst."
    button={{
      href: "https://www.copecart.com/products/d4619143/checkout",
      target: "_blank",
      text: "Signaldienst kaufen",
    }}
    backgroundImageClass="main-teaser__page-investieren"
  />

  <!-- PROBLEMS -->
  <section>
    <div class="row box--grey-background box--desktop">
      <div class="wrapper-content">
        <ProblemCard
          title="Du hast keine Lust mehr..."
          icon={{
            src: "/images/sad.svg",
            alt: "Trauriges Gesicht",
          }}
          listItems={[
            "dich durch die Medienlandschaft nach aktuellen Börsentipps zu wühlen.",
            "den Ausstiegszeitpunkt vor einem Crash zu verpassen.",
            "unsicher und verwirrt darüber zu sein wann die Rally wieder beginnt.",
          ]}
        />
        <ProblemCard
          title="Du möchtest lieber..."
          icon={{ src: "/images/happy.svg", alt: "Fröhliches Gesicht" }}
          listItems={[
            "vor einem Börsencrash informiert werden und nicht danach wenn es vorüber ist.",
            "wissen, wann du wirklich einsteigen und aussteigen solltest.",
            "weniger Suchen und Interpretieren.",
          ]}
        />
      </div>
    </div>
  </section>

  <!-- QUOTE -->
  <Quote text="Spekulieren kann jeder. Es zur <strong>richtigen Zeit</strong> zu tun - das ist die Kunst.">
    <p class="quote__autor">André Kostolany</p>
  </Quote>

  <section class="wrapper-content">
    <h2 class="product-details__heading">Meine ETF Strategie schlägt den Markt</h2>
    <p class="chart__subheading">
      Wähle ein Jahr und ein Startkapital, um die Wertentwicklung der Indices mit der inloopo Strategie zu vergleichen.
    </p>
  </section>
  <!-- GRAFIC INLOOPO STRATEGIE vs INDICES BUY AND HOLD -->
  <dynamic-chart></dynamic-chart>

  <!-- PRODUCT DETAILS -->
  <section>
    <h2 class="product-details__heading">Im Alltag eins-zu-eins umsetzen</h2>
    <div class="wrapper-content">
      <div class="row column--no-background">
        <DetailCard
          icon={{
            src: "/images/eye-open.svg",
            alt: "Offenes Auge Icon",
          }}
          heading="Einfach und klar"
          description="Die Ampelfarben sind verständlich und du kannst sie in vielen Strategien nutzen."
        />
        <DetailCard
          icon={{ src: "/images/clock-time.svg", alt: "Uhr Icon" }}
          heading="Wenig Zeit"
          description="Du kannst die Strategie eins-zu-eins mit durchschnittlich zwei Transaktionen pro Jahr umsetzen und damit den Markt schlagen."
        />
        <DetailCard
          icon={{ src: "/images/chart.svg", alt: "Geldschein Icon" }}
          heading="Outperformance"
          description="Du schlägst den Markt. Mit meiner ETF Strategie für den S&P 500 bist du bei steigenden Märkten investiert und bei fallenden Märkten an der Seitenlinie."
        />
        <DetailCard
          icon={{ src: "/images/gears.svg", alt: "Einstellungen Icon" }}
          heading="Vielseitig"
          description="Die Börsenampel kannst du mit verschiedenen Trading Strategien auf Finanzprodukte wie ETF's, Aktien, Optionen und Futures umsetzen."
        />
      </div>
    </div>
  </section>

  <!-- PRICES & PLANS -->
  <section>
    <div class="box--blue-background">
      <div class="wrapper-content">
        <h2 class="box__heading--white">Up-to-date bleiben und Investieren lernen</h2>
        <div class="row">
          <PriceCard
            title="Börsenampel"
            price="kostenlos"
            description="Im Telegram Channel 'Investieren mit der inloopo Strategie' siehst du jeden Sonntag die aktuelle Börsenampel. Dazu gibt es einen kurzen Kommentar zum Markt und Details zu den Börsenampel Indikatoren."
            button={{
              text: "Ja, ich möchte beitreten",
              href: "https://t.me/+Km1-SZkNz-s2ZWRi",
              target: "_blank",
            }}
          />

          <PriceCard
            title="Signaldienst"
            price="20 € / Monat, 149 € / Jahr, 399 € einmalig"
            description="Über den Telegram Channel 'Signaldienst S&P 500 Strategie' erhältst du jeden Sonntag konkrete Handelssignale, die du selbst mit deinem Geld umsetzen kannst."
            button={{
              text: "Ja, ich möchte kaufen",
              href: "https://www.copecart.com/products/d4619143/checkout",
              target: "_blank",
            }}
          />
        </div>
      </div>
    </div>
  </section>

  <!-- WHY ME -->
  <section>
    <BackgroundImage
      title="Eine Börsenampel, die in dein Leben passt"
      description="Ich habe eine eigene Börsenampel entwickelt, weil mir andere Börsenampeln nicht das geboten haben, was ich brauchte."
      backgroundImageClass="secondary-teaser__image-at-work"
      button={{
        text: "Erfahre mehr",
        href: "/de/anlagestrategien/inloopo-boersenampel/",
      }}
      textColorClass="dark"
    />
  </section>

  <!-- QUALIFICATIONS -->
  <section>
    <div class="row row--no-background">
      <div class="wrapper-content">
        <QualiCard
          icon={{
            src: "/images/books.svg",
            alt: "Buch Icon",
          }}
          title="Börsenerfahrung"
          description="Du suchst nach einem erfahrenen Trader. Ich bin seit 2008 aktiv an der Börse und habe anfangs CFD's, später Aktien, Optionsscheine auf Trendaktien und Optionen gehandelt. Heute handel ich Futures nach COT Daten, Saisonalität und Wetteranalyse und investiere strategisch auf Basis der Börsenampel mit der S&P 500 ETF Strategie."
        />
        <QualiCard
          icon={{ src: "/images/hat.svg", alt: "Hut Icon" }}
          title="Nachweisbarer Erfolg"
          description="Du brauchst Sicherheit. Ich habe mit meiner Futures Trading Strategie an der Trading Weltmeisterschaft teilgenommen. Mit 64,1 % Rendite pro Jahr den 5. Platz belegt. Dieses Jahr nehme ich erneut teil."
        />
        <QualiCard
          icon={{ src: "/images/data.svg", alt: "Daten und Charts Icon" }}
          title="Analytische Denkweise"
          description="Du möchtest einem strategisch denkenden Menschen folgen. Ich mache meine Analysen präzise und sorfältig. Meine Entscheidungen treffe ich rational und auf Basis von Daten."
        />
      </div>
    </div>
  </section>

  <!-- CONTENT FAQ SECTION -->
  <div class="wrapper-content">
    <section>
      <div class="faq__container">
        <h2 class="faq__heading--center">FAQ's</h2>
        <div class="accordion">
          <div class="accordion-item">
            <a>Wie viele Transaktionen gibt es pro Jahr?</a>
            <div class="content">
              <p>
                Vom Jahr 1998 bis 2022 gab es 36 Transaktionen. Das sind im Schnitt 1,5 Transaktionen pro Jahr. Hier
                siehst du eine Liste aller Transaktionen mit Datum, Tage in Position und Performance.
              </p>
              <div class="faq__table responsive-table">
                <table>
                  <thead>
                    <tr>
                      <th>Positionseröffnung</th>
                      <th>Eröffnungspreis*</th>
                      <th>Positionsende</th>
                      <th>Endpreis*</th>
                      <th>Tage investiert</th>
                      <th>Performance (%)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>29.01.1998</td>
                      <td>1079,5</td>
                      <td>27.04.1998</td>
                      <td>1173,5</td>
                      <td>62</td>
                      <td>8,7</td>
                    </tr>
                    <tr>
                      <td>24.06.1998</td>
                      <td>1203</td>
                      <td>24.07.1998</td>
                      <td>1204</td>
                      <td>22</td>
                      <td>0,1</td>
                    </tr>
                    <tr>
                      <td>20.10.1998</td>
                      <td>1131,75</td>
                      <td>25.05.1999</td>
                      <td>1316</td>
                      <td>155</td>
                      <td>16,3</td>
                    </tr>
                    <tr>
                      <td>30.06.1999</td>
                      <td>1378,5</td>
                      <td>04.08.1999</td>
                      <td>1332</td>
                      <td>25</td>
                      <td>-3,4</td>
                    </tr>
                    <tr>
                      <td>28.10.1999</td>
                      <td>1347,25</td>
                      <td>05.01.2000</td>
                      <td>1384,75</td>
                      <td>49</td>
                      <td>2,8</td>
                    </tr>
                    <tr>
                      <td>19.06.2000</td>
                      <td>1453,25</td>
                      <td>28.07.2000</td>
                      <td>1389,25</td>
                      <td>29</td>
                      <td>-4,4</td>
                    </tr>
                    <tr>
                      <td>27.05.2003</td>
                      <td>815,75</td>
                      <td>04.08.2003</td>
                      <td>837,75</td>
                      <td>49</td>
                      <td>2,7</td>
                    </tr>
                    <tr>
                      <td>02.09.2003</td>
                      <td>879,25</td>
                      <td>10.03.2004</td>
                      <td>990</td>
                      <td>136</td>
                      <td>12,6</td>
                    </tr>
                    <tr>
                      <td>01.10.2004</td>
                      <td>1003,5</td>
                      <td>20.01.2005</td>
                      <td>1044</td>
                      <td>79</td>
                      <td>4,0</td>
                    </tr>
                    <tr>
                      <td>28.02.2005</td>
                      <td>1082,25</td>
                      <td>21.03.2005</td>
                      <td>1050,25</td>
                      <td>15</td>
                      <td>-3,0</td>
                    </tr>
                    <tr>
                      <td>18.05.2005</td>
                      <td>1046,5</td>
                      <td>07.07.2005</td>
                      <td>1050</td>
                      <td>36</td>
                      <td>0,3</td>
                    </tr>
                    <tr>
                      <td>17.11.2005</td>
                      <td>1093,75</td>
                      <td>15.05.2006</td>
                      <td>1120,5</td>
                      <td>127</td>
                      <td>2,4</td>
                    </tr>
                    <tr>
                      <td>16.08.2006</td>
                      <td>1121,5</td>
                      <td>27.02.2007</td>
                      <td>1222</td>
                      <td>139</td>
                      <td>9,0</td>
                    </tr>
                    <tr>
                      <td>05.04.2007</td>
                      <td>1239,25</td>
                      <td>26.06.2007</td>
                      <td>1276,75</td>
                      <td>58</td>
                      <td>3,0</td>
                    </tr>
                    <tr>
                      <td>01.10.2007</td>
                      <td>1312,25</td>
                      <td>26.10.2007</td>
                      <td>1293,75</td>
                      <td>19</td>
                      <td>-1,4</td>
                    </tr>
                    <tr>
                      <td>18.04.2008</td>
                      <td>1137</td>
                      <td>23.05.2008</td>
                      <td>1129,25</td>
                      <td>25</td>
                      <td>-0,7</td>
                    </tr>
                    <tr>
                      <td>23.03.2009</td>
                      <td>549</td>
                      <td>24.06.2009</td>
                      <td>651,25</td>
                      <td>67</td>
                      <td>18,6</td>
                    </tr>
                    <tr>
                      <td>21.08.2009</td>
                      <td>768,5</td>
                      <td>22.01.2010</td>
                      <td>870,75</td>
                      <td>110</td>
                      <td>13,3</td>
                    </tr>
                    <tr>
                      <td>03.03.2010</td>
                      <td>874,25</td>
                      <td>17.05.2010</td>
                      <td>889,5</td>
                      <td>53</td>
                      <td>1,7</td>
                    </tr>
                    <tr>
                      <td>23.07.2010</td>
                      <td>869,75</td>
                      <td>01.03.2011</td>
                      <td>1072,25</td>
                      <td>157</td>
                      <td>23,3</td>
                    </tr>
                    <tr>
                      <td>21.04.2011</td>
                      <td>1121,75</td>
                      <td>23.05.2011</td>
                      <td>1100,75</td>
                      <td>22</td>
                      <td>-1,9</td>
                    </tr>
                    <tr>
                      <td>04.01.2012</td>
                      <td>1068,25</td>
                      <td>07.05.2012</td>
                      <td>1161,25</td>
                      <td>88</td>
                      <td>8,7</td>
                    </tr>
                    <tr>
                      <td>29.06.2012</td>
                      <td>1171,25</td>
                      <td>23.10.2012</td>
                      <td>1237,25</td>
                      <td>82</td>
                      <td>5,6</td>
                    </tr>
                    <tr>
                      <td>11.12.2012</td>
                      <td>1245,25</td>
                      <td>20.06.2013</td>
                      <td>1428,25</td>
                      <td>137</td>
                      <td>14,7</td>
                    </tr>
                    <tr>
                      <td>01.08.2013</td>
                      <td>1533,25</td>
                      <td>12.12.2013</td>
                      <td>1618,5</td>
                      <td>95</td>
                      <td>5,6</td>
                    </tr>
                    <tr>
                      <td>10.02.2014</td>
                      <td>1695,75</td>
                      <td>31.07.2014</td>
                      <td>1807,75</td>
                      <td>123</td>
                      <td>6,6</td>
                    </tr>
                    <tr>
                      <td>10.03.2016</td>
                      <td>1920,75</td>
                      <td>24.06.2016</td>
                      <td>1972,25</td>
                      <td>76</td>
                      <td>2,7</td>
                    </tr>
                    <tr>
                      <td>08.07.2016</td>
                      <td>2036,75</td>
                      <td>01.11.2016</td>
                      <td>2038,5</td>
                      <td>82</td>
                      <td>0,1</td>
                    </tr>
                    <tr>
                      <td>07.12.2016</td>
                      <td>2150,5</td>
                      <td>05.02.2018</td>
                      <td>2615,75</td>
                      <td>303</td>
                      <td>21,6</td>
                    </tr>
                    <tr>
                      <td>10.05.2018</td>
                      <td>2662,25</td>
                      <td>08.10.2018</td>
                      <td>2805</td>
                      <td>107</td>
                      <td>5,4</td>
                    </tr>
                    <tr>
                      <td>15.01.2019</td>
                      <td>2531</td>
                      <td>28.05.2019</td>
                      <td>2726</td>
                      <td>95</td>
                      <td>7,7</td>
                    </tr>
                    <tr>
                      <td>18.06.2019</td>
                      <td>2838,25</td>
                      <td>13.08.2019</td>
                      <td>2841,75</td>
                      <td>40</td>
                      <td>0,1</td>
                    </tr>
                    <tr>
                      <td>22.10.2019</td>
                      <td>2928,25</td>
                      <td>25.02.2020</td>
                      <td>3129,75</td>
                      <td>90</td>
                      <td>6,9</td>
                    </tr>
                    <tr>
                      <td>17.04.2020</td>
                      <td>2776</td>
                      <td>04.03.2021</td>
                      <td>3743,75</td>
                      <td>229</td>
                      <td>34,9</td>
                    </tr>
                    <tr>
                      <td>31.03.2021</td>
                      <td>3946</td>
                      <td>01.10.2021</td>
                      <td>4278,5</td>
                      <td>132</td>
                      <td>8,4</td>
                    </tr>
                    <tr>
                      <td>29.10.2021</td>
                      <td>4575,25</td>
                      <td>19.01.2022</td>
                      <td>4512,5</td>
                      <td>58</td>
                      <td>-1,4</td>
                    </tr>
                    <tr> <td>27.07.2022</td> <td>4016,25</td> <td></td> <td></td> <td></td> <td></td></tr>
                  </tbody>
                </table>
              </div>
              <p class="faq__table--notation">
                (*) Die Trades werden mit den Daten des S&P 500 Futures geplant. Der hier angegebene Kurs entspricht
                daher dem Kurs des Futures und nicht dem des gehandeltem ETF.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Wie hoch ist die jährlich Rendite oder Performance?</a>
            <div class="content">
              <p>
                Die jährliche Performance orientiert sich an dem des S&P 500 Index und ist auf Basis der geschlossenen
                Trades berechnet. In den Jahren, in denen es keine geschlossenen Trades gegeben hat, wurden 0 %
                eingetragen. Genau wie in den Jahren, in denen überhaupt keine offenen Positionen bestanden. Es gibt
                seit 1998 nur zwei Jahre mit leicht negativer Performance (2000 und 2008). Zum Vergleich: Im S&P 500 gab
                es 6 Jahre mit einer negativen Jahresperformance.
              </p>
              <div class="faq__table responsive-table">
                <table>
                  <thead> <tr> <th>Jahr</th> <th>Performance pro Jahr**</th></tr></thead>
                  <tbody>
                    <tr> <td>1998</td> <td>8,8</td></tr>
                    <tr> <td>1999</td> <td>12,9</td></tr>
                    <tr> <td>2000</td> <td>-1,6</td></tr>
                    <tr> <td>2001</td> <td>0,0</td></tr>
                    <tr> <td>2002</td> <td>0,0</td></tr>
                    <tr> <td>2003</td> <td>2,7</td></tr>
                    <tr> <td>2004</td> <td>12,6</td></tr>
                    <tr> <td>2005</td> <td>1,4</td></tr>
                    <tr> <td>2006</td> <td>2,4</td></tr>
                    <tr> <td>2007</td> <td>10,6</td></tr>
                    <tr> <td>2008</td> <td>-0,7</td></tr>
                    <tr> <td>2009</td> <td>18,6</td></tr>
                    <tr> <td>2010</td> <td>15,0</td></tr>
                    <tr> <td>2011</td> <td>21,4</td></tr>
                    <tr> <td>2012</td> <td>14,3</td></tr>
                    <tr> <td>2013</td> <td>20,3</td></tr>
                    <tr> <td>2014</td> <td>6,6</td></tr>
                    <tr> <td>2015</td> <td>0,0</td></tr>
                    <tr> <td>2016</td> <td>2,8</td></tr>
                    <tr> <td>2017</td> <td>0,0</td></tr>
                    <tr> <td>2018</td> <td>27,0</td></tr>
                    <tr> <td>2019</td> <td>7,8</td></tr>
                    <tr> <td>2020</td> <td>6,9</td></tr>
                    <tr> <td>2021</td> <td>41,9</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <a>Mit welchem ETF setze ich die Strategie um?</a>
            <div class="content">
              <p>
                Ich setze die Strategie mit dem SPDR S&P 500 EUR Hedged UCITS ETF (ISIN: IE00BYYW2V44, WKN: A2AGXP) um.
              </p>
              <p>
                Wenn du einen anderen ETF nutzen möchtest, achte unbedingt darauf, ob die Währungsrisiken zum US-Dollar
                abgesichert werden. Das erkennst du an dem ETF Namenszusatz "EUR Hedged".
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Für wen habe ich die S&P 500 Strategie entwickelt?</a>
            <div class="content">
              <p>
                Ich habe im Jahr 2013 angefangen, mithilfe einer Börsenampel in Aktien zu investieren. Diese Börsenampel
                hat in den Jahren 2013 bis 2016 nicht das gehalten, was sie versprochen hat und somit habe ich mein
                damaliges Abo gekündigt.
              </p>
              <p>
                Im Jahr 2020 bin ich auf eine andere Börsenampel gestoßen und habe diese ebenfalls abonniert. Doch die
                Einstiegssignale waren mir vor allem in der ersten Jahreshälfte 2022 zu spontan und stimmten nicht mit
                meiner Analyse überein. Somit habe ich ab Mai 2022 an einer eigenen Börsenampel gearbeitet.
              </p>
              <p>
                Über die Jahre haben mich viele Freunde und Bekannte nach meiner Meinung zu den Aktienmärkten gefragt.
                Alle hatten eins gemeinsam: Sie wollten sich nicht so intensiv mit der Börse beschäftigen, wie ich es
                tue.
              </p>
              <p>
                Daher habe ich eine Börsenampel entwickelt, die zu dir passt: Wenn du wenig Zeit hast, du dein Geld mit
                einer hohen Rendite und geringen Verlusten selbst anlegen möchtest, aber keine Lust hast, dir das Wissen
                dafür anzueignen, und dein Geld nicht einer Bank anvertrauen willst. Die Signale der Börsenampel setze
                ich ebenfalls mit meinem privaten Geld um.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Register Custom Elements -->
  <!-- Load Dynamic Chart Skript -->
  <script is:inline src="/scripts/dynamic-chart.js"></script>
  <!-- JavaScript -->
  <script is:inline src="/scripts/faq.js"></script>

  <style>
    .chart__subheading {
      font-size: 1.25rem;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  </style>
</MainLayout>
