---
//import layout and components
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import LeiChart from "../../components/LeiChart.astro";
import Button from "../../components/Button.astro";
import ShareButton from "../../components/ShareButton.astro";

//import
import "../../styles/styles.css";
---

<MainLayout
  title="Konjunkturzyklus als Tool"
  description="Dein Risiko war wieder zu hoch. Finde heraus, in welcher Phase des Konjunkturzyklus wir uns befinden und stimme dein Risiko darauf ab."
  opengraph={{
    description: "Verstehe den Konjunkturzyklus",
    locale: "de",
    type: "website",
    url: "https://www.inloopo.com/de/konjunkturzyklus/",
    image: "https://www.inloopo.com/images/konjunkturzyklus-og.jpg",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/konjunkturzyklus/">
  <!-- TEASER -->
  <HeroShot
    title="Konjunkturzyklus"
    description="Der Konjunkturzyklus ist ein zentrales Element der Weltwirtschaft. Hier findest du die aktuelle Konjunkturzyklus Phase im Jahr 2023."
    backgroundImageClass="main-teaser__page-konjunkturzyklus"
    button={{
      text: "Erfahre mehr",
      href: "https://www.inloopo.com/de/finanzwissen/konjunkturzyklus-phasen/",
      target: "_blank",
    }}
  />

  <h2 class="align-center">inloopo Konjunkturzyklus Tool mit US Leading Economic Index (YoY)</h2>
  <ShareButton
    facebookLink="https://www.facebook.com/sharer/sharer.php?u=https://www.inloopo.com/de/konjunkturzyklus/"
    linkedinLink="https://www.linkedin.com/shareArticle?mini=true&url=https://www.inloopo.com/de/konjunkturzyklus/"
    twitterLink="https://twitter.com/share?url=https://www.inloopo.com/de/konjunkturzyklus/"
  />
  <LeiChart />
  <div class="wrapper-content-blog">
    <h2>Was kann das Konjunkturzyklus Tool?</h2>
    <p>
      Mit dem inloopo Konjunkturzyklus Tool kannst du die aktuelle Konjunkturphase bestimmen. Dieses Wissen hilft dir,
      das Risiko deiner Investitionen zu steuern.
    </p>
    <p>
      Zudem kannst du auf Basis der Konjunkturphasen eine ETF Strategie mit Sektor-ETFs anwenden. Denn in jeder
      Konjunkturphase gibt es 1 bis 3 Aktiensektoren, die sich besser entwickeln sollten als der Gesamtmarkt.
    </p>
    <p>Erfahre mehr über die Sektorrotation in meinem Tool.</p>
    <Button link="https://www.inloopo.com/de/sektorrotation/" text="Geh zur Sektorrotation" />
  </div>
</MainLayout>
