---
//import layout and components
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import ShareButton from "../../components/ShareButton.astro";

//import
import "../../styles/styles.css";
---

<MainLayout
  title="Sektorenrotation als Tool"
  description="Dein Risiko ist zu hoch. Dein Profit zu gering. Die Sektorrotation hilft dir dabei Aktien Sektoren zu finden, die profitabel sind."
  opengraph={{
    description: "Erfahre in welche Aktien Sektoren du profitabel investierst",
    locale: "de",
    type: "website",
    url: "https://www.inloopo.com/de/sektorrotation/",
    image: "https://www.inloopo.com/images/sektorrotation-og.jpg",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/sektorrotation/">
  <!-- TEASER -->
  <HeroShot
    title="Sektorrotation"
    description="Entdecke die Vorteile der Sektorrotation und optimiere dein Portfolio! Erkunde die Chancen verschiedener Branchen und verbessere deinen langfristigen Erfolg an der Börse."
    backgroundImageClass="main-teaser__page-sektorrotation"
    button={{
      text: "Erfahre mehr",
      href: "https://www.inloopo.com/de/anlagestrategien/sektorrotation-erklaert/",
      target: "_blank",
    }}
  />

  <script>
    const tableEl = document.getElementById("table");

    function highlight(e) {
      const highlightedSector = e.target.classList[0];
      tableEl.querySelectorAll(`td:not(.${highlightedSector})`).forEach((el) => el.classList.add("off"));
      tableEl.querySelectorAll(`td.${highlightedSector}`).forEach((el) => el.classList.remove("off"));
    }

    tableEl.addEventListener("mouseover", highlight);
    tableEl.addEventListener("click", highlight);
    tableEl.addEventListener("mouseout", () =>
      tableEl.querySelectorAll("td").forEach((el) => el.classList.remove("off"))
    );
  </script>

  <section>
    <h2 class="align-center">S&P500 Sektoren - Performance im Vergleich</h2>
    <ShareButton
      facebookLink="https://www.facebook.com/sharer/sharer.php?u=https://www.inloopo.com/de/sektorrotation/"
      linkedinLink="https://www.linkedin.com/shareArticle?mini=true&url=https://www.inloopo.com/de/sektorrotation/"
      twitterLink="https://twitter.com/share?url=https://www.inloopo.com/de/sektorrotation/"
    />

    <div class="sectorr">
      <table class="sectorr__table" id="table">
        <thead class="sectorr__thead">
          <tr>
            <th>2008</th>
            <th>2009</th>
            <th>2010</th>
            <th>2011</th>
            <th>2012</th>
            <th>2013</th>
            <th>2014</th>
            <th>2015</th>
            <th>2016</th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
            <th>2020</th>
            <th>2021</th>
            <th>2022</th>
            <th></th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody class="sectorr-tbody">
          <tr>
            <td class="cons">cons<br />-15,4 %</td>
            <td class="inft">inft<br />61,7 %</td>
            <td class="real">real<br />32,3 %</td>
            <td class="util">util<br />19,9 %</td>
            <td class="finl">finl<br />28,8 %</td>
            <td class="cond">cond<br />43,1 %</td>
            <td class="real">real<br />30,2 %</td>
            <td class="cond">cond<br />10,1 %</td>
            <td class="enrs">enrs<br />27,4 %</td>
            <td class="inft">inft<br />38,8 %</td>
            <td class="hlth">hlth<br />6,5 %</td>
            <td class="inft">inft<br />50,3 %</td>
            <td class="inft">inft<br />43,9 %</td>
            <td class="enrs">enrs<br />54,6 %</td>
            <td class="enrs">enrs<br />65,7 %</td>
            <td></td>
            <td class="inft">inft<br />541,0 %</td>
          </tr>

          <tr>
            <td class="hlth">hlth<br />-22,8 %</td>
            <td class="matr">matr<br />48,6 %</td>
            <td class="cond">cond<br />27,7 %</td>
            <td class="cons">cons<br />14,0 %</td>
            <td class="cond">cond<br />23,9 %</td>
            <td class="hlth">hlth<br />41,5 %</td>
            <td class="util">util<br />29,0 %</td>
            <td class="hlth">hlth<br />6,9 %</td>
            <td class="tels">tels<br />23,5 %</td>
            <td class="matr">matr<br />23,8 %</td>
            <td class="util">util<br />4,1 %</td>
            <td class="tels">tels<br />32,7 %</td>
            <td class="cond">cond<br />33,3 %</td>
            <td class="real">real<br />46,2 %</td>
            <td class="util">util<br />1,6 %</td>
            <td></td>
            <td class="hlth">hlth<br />413,4 %</td>
          </tr>

          <tr>
            <td class="util">util<br />-29,0 %</td>
            <td class="cond">cond<br />41,3 %</td>
            <td class="indu">indu<br />26,7 %</td>
            <td class="hlth">hlth<br />12,7 %</td>
            <td class="real">real<br />19,7 %</td>
            <td class="indu">indu<br />40,7 %</td>
            <td class="hlth">hlth<br />25,3 %</td>
            <td class="cons">cons<br />6,6 %</td>
            <td class="finl">finl<br />22,8 %</td>
            <td class="cond">cond<br />23,0 %</td>
            <td class="cond">cond<br />0,8 %</td>
            <td class="finl">finl<br />32,1 %</td>
            <td class="tels">tels<br />23,6 %</td>
            <td class="finl">finl<br />35,0 %</td>
            <td class="cons">cons<br />-0,6 %</td>
            <td></td>
            <td class="cond">cond<br />379,0 %</td>
          </tr>

          <tr>
            <td class="tels">tels<br />-30,5 %</td>
            <td class="real">real<br />27,1 %</td>
            <td class="matr">matr<br />22,2 %</td>
            <td class="real">real<br />11,4 %</td>
            <td class="tels">tels<br />18,3 %</td>
            <td class="finl">finl<br />35,6 %</td>
            <td class="inft">inft<br />20,1 %</td>
            <td class="inft">inft<br />5,9 %</td>
            <td class="indu">indu<br />18,9 %</td>
            <td class="finl">finl<br />22,2 %</td>
            <td class="inft">inft<br />-0,3 %</td>
            <td class="sp">s&p<br />31,5 %</td>
            <td class="matr">matr<br />20,7 %</td>
            <td class="inft">inft<br />34,5 %</td>
            <td class="hlth">hlth<br />-2,0 %</td>
            <td></td>
            <td class="cons">cons<br />298,5 %</td>
          </tr>

          <tr>
            <td class="cond">cond<br />-33,5 %</td>
            <td class="sp">s&p<br />26,5 %</td>
            <td class="enrs">enr<br />20,5 %</td>
            <td class="tels">tels<br />6,3 %</td>
            <td class="hlth">hlth<br />17,9 %</td>
            <td class="sp">s&p<br />32,4 %</td>
            <td class="cons">cons<br />16,0 %</td>
            <td class="real">real<br />4,7 %</td>
            <td class="matr">matr<br />16,7 %</td>
            <td class="hlth">hlth<br />22,1 %</td>
            <td class="real">real<br />-2,2 %</td>
            <td class="indu">indu<br />29,4 %</td>
            <td class="sp">s&p<br />18,4 %</td>
            <td class="sp">s&p<br />28,7 %</td>
            <td class="indu">indu<br />-5,5 %</td>
            <td></td>
            <td class="sp">s&p<br />254,6 %</td>
          </tr>

          <tr>
            <td class="enrs">enrs<br />-34,9 %</td>
            <td class="indu">indu<br />20,9 %</td>
            <td class="tels">tels<br />19,0 %</td>
            <td class="cond">cond<br />6,1 %</td>
            <td class="sp">s&p<br />16,0 %</td>
            <td class="inft">inft<br />28,4 %</td>
            <td class="finl">finl<br />15,2 %</td>
            <td class="tels">tels<br />3,4 %</td>
            <td class="util">util<br />16,3 %</td>
            <td class="sp">s&p<br />21,8 %</td>
            <td class="sp">s&p<br />-4,4 %</td>
            <td class="real">real<br />29,0 %</td>
            <td class="hlth">hlth<br />13,5 %</td>
            <td class="matr">matr<br />27,3 %</td>
            <td class="finl">finl<br />-10,5 %</td>
            <td></td>
            <td class="indu">indu<br />226,2 %</td>
          </tr>

          <tr>
            <td class="sp">s&p<br />-37,0 %</td>
            <td class="hlth">hlth<br />19,7 %</td>
            <td class="sp">s&p<br />15,1 %</td>
            <td class="enrs">enrs<br />4,7 %</td>
            <td class="indu">indu<br />15,4 %</td>
            <td class="cons">cons<br />26,1 %</td>
            <td class="sp">s&p<br />13,7 %</td>
            <td class="sp">s&p<br />1,4 %</td>
            <td class="inft">inft<br />13,9 %</td>
            <td class="indu">indu<br />21,0 %</td>
            <td class="cons">cons<br />-8,4 %</td>
            <td class="cond">cond<br />27,9 %</td>
            <td class="indu">indu<br />11,1 %</td>
            <td class="hlth">hlth<br />26,1 %</td>
            <td class="matr">matr<br />-12,3 %</td>
            <td></td>
            <td class="util">util<br />191,3 %</td>
          </tr>

          <tr>
            <td class="indu">indu<br />-39,9 %</td>
            <td class="finl">finl<br />17,2 %</td>
            <td class="cons">cons<br />14,1 %</td>
            <td class="inft">inft<br />2,4 %</td>
            <td class="matr">matr<br />15,0 %</td>
            <td class="matr">matr<br />25,6 %</td>
            <td class="indu">indu<br />9,8 %</td>
            <td class="finl">finl<br />-1,5 %</td>
            <td class="sp">s&p<br />12,0 %</td>
            <td class="cons">cons<br />13,5 %</td>
            <td class="tels">tels<br />-12,5 %</td>
            <td class="cons">cons<br />27,6 %</td>
            <td class="cons">cons<br />10,8 %</td>
            <td class="cond">cond<br />24,4 %</td>
            <td class="sp">s&p<br />-18,1 %</td>
            <td></td>
            <td class="real">real<br />173,7 %</td>
          </tr>

          <tr>
            <td class="real">real<br />-42,3 %</td>
            <td class="cons">cons<br />14,9 %</td>
            <td class="finl">finl<br />12,1 %</td>
            <td class="sp">s&p<br />2,1 %</td>
            <td class="inft">inft<br />14,8 %</td>
            <td class="enrs">enrs<br />25,1 %</td>
            <td class="cond">cond<br />9,7 %</td>
            <td class="indu">indu<br />-2,5 %</td>
            <td class="cond">cond<br />6,0 %</td>
            <td class="util">util<br />12,1 %</td>
            <td class="finl">finl<br />-13,0 %</td>
            <td class="util">util<br />26,4 %</td>
            <td class="util">util<br />0,5 %</td>
            <td class="tels">tels<br />21,6 %</td>
            <td class="real">real<br />-26,1 %</td>
            <td></td>
            <td class="matr">matr<br />160,8 %</td>
          </tr>

          <tr>
            <td class="inft">inft<br />-43,1 %</td>
            <td class="enrs">enrs<br />13,8 %</td>
            <td class="inft">inft<br />10,2 %</td>
            <td class="indu">indu<br />-0,6 %</td>
            <td class="cons">cons<br />10,8 %</td>
            <td class="util">util<br />13,2 %</td>
            <td class="matr">matr<br />6,9 %</td>
            <td class="util">util<br />-4,8 %</td>
            <td class="cons">cons<br />5,4 %</td>
            <td class="real">real<br />10,9 %</td>
            <td class="indu">indu<br />-13,3 %</td>
            <td class="matr">matr<br />24,6 %</td>
            <td class="finl">finl<br />-1,7 %</td>
            <td class="indu">indu<br />21,1 %</td>
            <td class="inft">inft<br />-28,2 %</td>
            <td></td>
            <td class="finl">finl<br />97,7 %</td>
          </tr>

          <tr>
            <td class="matr">matr<br />-45,7 %</td>
            <td class="util">util<br />11,9 %</td>
            <td class="util">util<br />5,5 %</td>
            <td class="matr">matr<br />-9,6 %</td>
            <td class="enrs">enrs<br />4,6 %</td>
            <td class="tels">tels<br />11,5 %</td>
            <td class="tels">tels<br />3,0 %</td>
            <td class="matr">matr<br />-8,4 %</td>
            <td class="real">real<br />3,4 %</td>
            <td class="enrs">enrs<br />-1,0 %</td>
            <td class="matr">matr<br />-14,7 %</td>
            <td class="hlth">hlth<br />20,8 %</td>
            <td class="real">real<br />-2,2 %</td>
            <td class="cons">cons<br />18,6 %</td>
            <td class="cond">cond<br />-37,0 %</td>
            <td></td>
            <td class="enrs">enrs<br />74,4 %</td>
          </tr>

          <tr>
            <td class="finl">finl<br />-55,3 %</td>
            <td class="tels">tels<br />8,9 %</td>
            <td class="hlth">hlth<br />2,9 %</td>
            <td class="finl">finl<br />-17,1 %</td>
            <td class="util">util<br />1,3 %</td>
            <td class="real">real<br />1,6 %</td>
            <td class="enrs">enrs<br />-7,8 %</td>
            <td class="enrs">enrs<br />-21,1 %</td>
            <td class="hlth">hlth<br />-2,7 %</td>
            <td class="tels">tels<br />-1,3 %</td>
            <td class="enrs">enrs<br />-18,1 %</td>
            <td class="enrs">enrs<br />11,8 %</td>
            <td class="enrs">enrs<br />-33,7 %</td>
            <td class="util">util<br />17,7 %</td>
            <td class="tels">tels<br />-39,9 %</td>
            <td></td>
            <td class="tels">tels<br />71,9 %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="sectorr">
    <div class="grid">
      <div class="sectorr-scnd">
        <table class="sectorr__table-scnd">
          <thead>
            <tr>
              <th>Sektoren</th>
              <th>Sektorindex</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cond">cond</td>
              <td class="cond">S&P 500 Konsum zyklisch</td>
              
            </tr>

            <tr>
              <td class="cons">cons</td>
              <td class="cons">S&P 500 Konsum nicht-zyklisch</td>
              
            </tr>

            <tr>
              <td class="enrs">enrs</td>
              <td class="enrs">S&P 500 Energie</td>
              
            </tr>

            <tr>
              <td class="finl">finl</td>
              <td class="finl">S&P 500 Finanzen</td>
              
            </tr>

            <tr>
              <td class="hlth">hlth</td>
              <td class="hlth">S&P 500 Gesundheitswesen</td>
              
            </tr>

            <tr>
              <td class="indu">indu</td>
              <td class="indu">S&P 500 Industrie</td>
              
            </tr>

            <tr>
              <td class="inft">inft</td>
              <td class="inft">S&P 500 Technologie</td>
              
            </tr>

            <tr>
              <td class="matr">matr</td>
              <td class="matr">S&P 500 Materialien</td>
             
            </tr>

            <tr>
              <td class="real">real</td>
              <td class="real">S&P 500 Immobilien</td>
             
            </tr>

            <tr>
              <td class="tels">tels</td>
              <td class="tels">S&P 500 Kommunikation</td>
              
            </tr>

            <tr>
              <td class="util">util</td>
              <td class="util">S&P 500 Versorger</td>
              
            </tr>

            <tr>
              <td class="sp">S&P</td>
              <td class="sp">S&P 500 Index</td>
              
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sectorr__img">
        <img src="/images/image-sektorrotation.svg" alt="Sektorrotation mit Konjunkturphasen" />
      </div>
      <div class="sectorr__p">
        <h4>Was ist Sektorrotation?</h4>
        <p>
          Sektorrotation bedeutet, dass die Wertentwicklung von Aktien Branchen zyklisch schwankt. Jeder Sektor hat eine
          unterschiedliche Wertentwicklung pro Jahr.
        </p>
        <p>
          Der Grund dafür ist, dass große Investoren ihr Geld von einem Sektor oder einer Aktien Branche in eine andere
          Aktien Branche umschichten. Meistens geschieht dies, wenn sich der <a
            class="link"
            href="https://www.inloopo.com/de/konjunkturzyklus/">Konjunkturzyklus</a
          > ändert, zum Beispiel von einer Wachstumsphase in eine Stagnationsphase und dann in eine Rezessionsphase.
        </p>
        <p>
          Die Idee der Branchenrotation ist, dass du mehr Geld verdienen kannst, wenn du in Unternehmen investierst,
          denen es gerade gut geht, anstatt in Unternehmen, denen es gerade nicht so gut geht. Die farbige Tabelle
          stellt dir die Performance-Rotation der Aktien Branchen bildlich dar. Lass sie auf dich wirken und spiele ein
          wenig damit.
        </p>
        <p>
          Wenn du mehr darüber erfahren möchtest, wie du das genau nutzen kannst, dann schreibe mir eine Mail oder rufe
          mich an. Es gibt Analysen, die im Voraus die vielversprechendsten Aktien, Branchen oder Sektoren anzeigen. So
          kannst du die Kraft der Sektorrotation für dich nutzen.
        </p>
      </div>
    </div>
  </section>
  <style>
    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: 0 7em;
    }

    .sectorr {
      display: flex;
      justify-content: center;
      margin: 0 25px;
    }

    .sectorr__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .sectorr,
    .sectorr-scnd {
      overflow-y: auto;
    }

    .sectorr td {
      padding: 5px 10px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      font-weight: bolder;
      font-size: 12px;
      opacity: 1;
      transition: opacity 0.2s linear;
    }

    td.off {
      opacity: 0.5;
    }

    .sectorr__table-scnd {
      margin-right: 50px;
      overflow-x: auto;
    }

    .sectorr__p {
      margin-top: 45px;
    }

    .sectorr__table {
      margin-bottom: 50px;
      overflow-x: auto;
    }

    .sectorr__table-scnd td {
      text-transform: none;
      text-align: left;
    }

    .sectorr__table-scnd td:first-child {
      text-transform: uppercase;
    }

    .cons {
      background-color: #ffaa00;
    }

    .inft {
      background-color: #253c78;
    }

    .real {
      background-color: #124d00;
    }

    .util {
      background-color: #ff2b00;
    }

    .finl {
      background-color: #ff35c9;
    }

    .cond {
      background-color: #ffd035;
    }

    .enrs {
      background-color: #00c6b2;
    }

    .hlth {
      background-color: #ff6040;
    }

    .matr {
      background-color: #602578;
    }

    .tels {
      background-color: #35c9ff;
    }

    .indu {
      background-color: #6b35ff;
    }

    .sp {
      background-color: #131e3c;
    }

    @media only screen and (max-width: 979px) {
      .grid {
        grid-template-columns: 1fr;
        gap: 3em;
        margin: 0;
      }

      .sectorr__img {
        margin-top: 2em;
      }

      .sectorr__table-scnd {
        margin-right: 0;
      }

      .sectorr {
        margin-bottom: 24px;
      }
    }
  </style>
</MainLayout>
