---
//import layout
import MainLayout from "../../layouts/MainLayout.astro";
import HeroShot from "../../components/HeroShot.astro";
import Quote from "../../components/Quote.astro";

//import
import "../../styles/styles.css";
---

<MainLayout
  title="Mehr über Philipp Kozalla und Inloopo"
  description="Ich bin Philipp und der Macher von Inloopo. Ich helfe dir Geld strategisch zu investieren. So, dass es in deinen Alltag passt."
  opengraph={{
    description: "Erfahre mehr über inloopo und Philipp Kozalla.",
    locale: "de",
    url: "https://www.inloopo.com/de/ueber-mich/",
    image: "https://www.inloopo.com/images/ueber-mich-og.jpg",
    type: "website",
  }}
  lang="de"
  canonical="https://www.inloopo.com/de/ueber-mich/">
  <!-- MAIN TEASER -->
  <HeroShot
    title="Mit mir entspannt investieren."
    description="Hi 👋! Ich bin Philipp Kozalla, leidenschaftlicher Investor und Trader. Mein Ziel ist es dir mit dieser Webseite einen Mehrwert für deine Investitionsentscheidungen an der Börse bieten."
    backgroundImageClass="main-teaser__page-wer-wir-sind"
  />

  <!-- CONTENT -->
  <div class="wrapper-content-rights">
    <section>
      <h2 class="blog__heading">Über mich</h2>
      <p>
        Ich mag es andere Wege, als der Mainstream zu gehen. Meine Eltern haben wohl den Grundstein dafür gelegt: Zu
        Hause gab es keinen Fernseher, nur vegetarische Ernährung und kein Industriezucker.
      </p>
      <p></p>
      <p>
        Mit 16 Jahren bin ich ausgezogen, weil ich Profi-Eisschnellläufer werden wollte. Ich habe an der Junioren
        Weltmeisterschaft teilgenommen und erreichte den 9. Platz bei den Junioren Europameisterschaften. Zum Profi hat
        es nicht gereicht. Im Nachhinein zum Glück. Später, während meines Studiums habe ich Aktienkurse gecheckt,
        worüber sich meine Freunde heute noch gerne lustig machen.
      </p>
      <p>
        Aber mich hat es fasziniert, wie man mit den richtigen Entscheidungen zum richtigen Zeitpunkt sein Geld
        vermehren konnte. Meine Aktie, die mir mein Papa zu meiner Konfirmation geschenkt hatte, ging leider den Bach
        runter.
      </p>
      <p>
        Erst mal Geld verdienen, hieß es an vielen Ecken. Daher habe ich einen kurzen Abstecher in die
        Automobilindustrie gemacht. 7 Jahre lang habe ich gebraucht, um wieder herauszukommen. Nun lebe ich mit meiner
        Frau und meinen beiden Kindern auf Zypern, bin Trader, Investor und Unternehmer.
      </p>
      <p>
        Mein Ziel ist es, allen Menschen bei ihren finanziellen Zielen zu unterstützen. Im besten Fall erreichst du
        deine finanzielle Freiheit. Es ist nicht leicht, aber jeder kann es lernen. Das Wissen dafür möchte ich mit
        dieser Webseite vermitteln.
      </p>

      <Quote text="Das Leben beginnt am Ende deiner Komfortzone." marginBottom="less-margin-bottom">
        <p class="quote__autor">Neale Donald Walsch</p>
      </Quote>

      <h2 class="blog__heading">Mein Weg zum professionellen Trader und Investor</h2>
      <ul class="box__ul">
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2007 – 2009 Abo: CFD DAX Index
          Trading nach Rocco Gräfe von Godmodetrader, jetzt <a
            class="link"
            href="https://stock3.com/experten/rocco-graefe-5"
            target="_blank">Stock3</a
          >
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2010 – 2013 Focus auf den
          Studienabschluss als Maschinenbauingenieur and der TU Dresden
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2013 – 2018 Börsenbrief Abo: <a
            class="link"
            href="https://www.boersenmedien.de/shop/tsi-premium.html"
            target="_blank">TSI Premium</a
          >
          Aktien Investments und Handeln nach einer Börsenampel und Trendfolgesystem
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2016 – 2017 Börsenbrief Abo: <a
            class="link"
            href="https://www.boersenmedien.de/shop/800plus.html"
            target="_blank">800 % Plus</a
          >, Trendfolgesystem mit Optionsscheinen auf Aktien und aktivem Rollen
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2017 – 2018 Börsenbrief Abo: <a
            class="link"
            href="https://www.supertrades.de/"
            target="_blank">Supertrades</a
          >
          Handeln mit Optionen auf Aktien im Trendfolgesystem und Absicherungsstrategie
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2017 – 2019 Börsenbrief Abo und
          Kurs: Kleine Konten <a class="link" href="https://www.jensrabe.de/" target="_blank">Jens Rabe</a>
          Regelmäßiger Cashflow mit Optionen auf Aktien
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2018 Wochenendseminar: <a
            class="link"
            href="https://www.suricate-trading.de/"
            target="_blank">Adrian Kömel</a
          >, Futurestrading nach Surricate Strategie (COT Daten, Terminstrukturkurve, Volumen und Chart-Pattern)
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2019 Wochenendseminar: Volatilität
          handeln mit Optionen, Jens Rabe
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2020 Ausbildung: InsiderWeek
          Futures Trading nach COT Daten (2 Jahre <a
            class="link"
            href="https://insider-week.com/de/cot-1-strategie/"
            target="_blank">COT 1</a
          >
          und <a class="link" href="https://insider-week.com/de/cot-2-strategie/">COT 2</a>) Strategie bei Max Schulz
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />Seit 2021 Coach bei InsiderWeek
          für das <a class="link" href="https://insider-week.com/en/trading-coaching/" target="_blank"
            >englische Intensiv-Coaching</a
          >
        </li>
        <li class="box__li">
          <img src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />2021/2022
          <a class="link" href="/images/wcc.pdf" target="_blank" title="PDF Nachweis"
            >5. Platz beim Global Cup Trading Championship Futures™️</a
          > mit +64,1% Gewinn
        </li>
      </ul>
      <p>
        Nach all den Jahren bin ich soweit, dass ich mich selbst weiterbilden kann, was ich regelmäßig und
        kontinuierlich tue, denn die Börse ist meine Leidenschaft.
      </p>
      <figure class="article__figure">
        <img
          src="/images/global-cup-trading-championship-2021.jpg"
          alt="Platzierungstabelle der Global Cup Trading Championship 2021-2022"
        />
      </figure>

      <h2 class="article__heading-two">Meine Mission und Vision</h2>
      <p>
        Ich möchte Menschen helfen, mehr Unabhängigkeit und Freiheit in ihrem Leben zu erreichen. Damit sie sich mit den
        wirklich wichtigen Dingen im Leben beschäftigen können. Die Welt ein Stückchen besser zu machen oder sich mit
        den Kindern zu beschäftigen. Denn die Kinder sind unsere Zukunft. Ich bin nicht dafür, mit dem Geld den Konsum
        zu fördern, sondern möchte für ein bescheidenes und bodenständiges Leben mit Weitblick fördern.
      </p>
    </section>
  </div>

  <div class="wrapper-content-rights">
    <section>
      <h2 class="article__heading-two">Mein Zweck</h2>
      <p>
        Ich bin dafür da, dir einen Leitfaden für deine Investitionsentscheidungen zu geben. Nutze mein Wissen für deine
        Aktivitäten an der Börse, wenn du dich nicht so viel damit beschäftigen möchtest. Wenn, du ebenso viel wie ich
        dafür brennst, folge mir und lerne von meinen Entscheidungen. Mit meiner Börsenampel habe ich ein universelles
        und günstiges Produkt entwickelt, was jeder nutzen kann. Somit ist es, mit minimalem Aufwand möglichen den Markt
        zu schlagen und das bei einem minimalen Kapitalrückgang
      </p>
    </section>
  </div>

  <!-- COMPANIES VALUES DESKTOP -->
  <div class="values--mobile">
    <section>
      <div class="wrapper-content-rights">
        <h2 class="article__heading-two">Meine Werte</h2>
      </div>
      <div class="wrapper-content">
        <div class="row">
          <div class="column fourth">
            <img src="/images/monkey-face.svg" class="column__icon" width="70" alt="Gesicht eines Affens" />
            <h3 class="column__subheading">Positive Einstellung</h3>
            <p class="column__text">
              Ich will meine Ziele erreichen. Dazu gehört es auch zu fallen. Ich bewerten Kritik und Stürze als positiv.
              Daran wachse ich und verbesser mich.
            </p>
          </div>

          <div class="column fourth">
            <img src="/images/muscle.svg" class="column__icon" width="70" alt="Muskelarm" />
            <h3 class="column__subheading">Growth Mind</h3>
            <p class="column__text">
              Ich glaube an mich. Ich weiß, dass es Zeit und Engagement braucht, um etwas zu erreichen. Ich arbeite an
              mir und meinen Zielen.
            </p>
          </div>

          <div class="column fourth">
            <img src="/images/bbq.svg" class="column__icon" width="70" alt="Barbecue" />
            <h3 class="column__subheading">Gemeinsam</h3>
            <p class="column__text">
              Ich arbeiten gemeinsam mit Anderen an Projekten. Ich liebe Feedback - auch wenn es manchmal hart ist. So
              schöpfe ich die Kompetenzen aller Mitwirkenden aus.
            </p>
          </div>

          <div class="column fourth">
            <img src="/images/globe.svg" class="column__icon" width="70" alt="Globus" />
            <h3 class="column__subheading">Offenheit</h3>
            <p class="column__text">
              Ich möchte offen und flexibel bleiben - auch noch wenn ich älter bin ;). Ich glaube, dass die Welt durch
              Toleranz, Akzeptanz und Respekt menschlicher ist.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="column fourth">
            <img src="/images/cycling.svg" class="column__icon" width="70" alt="Fahrrad fahren" />
            <h3 class="column__subheading">Bescheidenheit</h3>
            <p class="column__text">
              Ich möchte mein gesamtes Leben bescheiden bleiben. Ich schätze die kleinen Dinge im Leben. Ich möchte
              wenig besitzen, bewusst und achtsam Leben.
            </p>
          </div>

          <div class="column fourth">
            <img src="/images/diamond.svg" class="column__icon" width="70" alt="Diamant" />
            <h3 class="column__subheading">Qualität</h3>
            <p class="column__text">
              Qualität braucht Zeit. Aber Perfektion noch viel länger. Ich liefer Qualität aber ich möchte auch, dass du
              voran kommst. Ich packe lieber unvollkommen an als zu zögern, weil es perfekt sein soll. Ich nehme Fehler
              in Kauf und korrigiere sie.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
